{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            8 Strategies to <span>Save for Retirement</span>
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>
               <a href="">Retirement</a> is the No. 1 financial goal of most Americans. But for many people, that goal is seemingly based more on aspiration than actual action. According to the Center for Retirement Research at Boston College, approximately half of those who retire at age 65 will be unable to maintain their preretirement lifestyle.
            </p>
            <p>
                We know you want to be in the other half. Here’s how.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">1. Save 15% a Year.</h3>
            <p>
                The old rule of thumb used to be that you could fund a stable retirement by saving 10% of household income annually. However, some experts instead advise upping that to 15%. An assortment of factors -- such as longer life expectancies, possible lower future investment returns, and the demise of the pension -- require workers to shovel more cash into their accounts.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">2. Save More Than 15%!</h3>
            <p>
                That 15% guideline is based on two key assumptions: You start saving by age 30, and you aim to retire in your mid-60s.
            </p>
            <p>
                However, if you’ve gotten a late start, you may need to save more. For example, a worker who reaches age 40 with no retirement savings should aim to sock away 25% of household income.
            </p>
            <p>
                Then there’s your target retirement age. Many people hope to leave the rat race long before their 60s. Consider the devotees of the FIRE (financial independence/retire early) movement, who save 40%, 50%, or more of their income with the goal of retiring as soon as possible.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">3. Save for the Biggest Expenses.</h3>
            <p>
                A key to a secure retirement is limiting your current consumption in order to fund that future consumption.

            </p>
            <p>
                You’ve likely heard of financial gurus claiming you could be a millionaire if you give up your daily latte. While every little bit does indeed help (when compounded over decades), your financial destiny is more likely determined by how much you spend on the three biggest categories in the typical American’s budget:
            </p>
            <div class="text-wrapper text-wrapper-part">
                <ul class="internal-page-ul">
                <li>
                    <p>
                        <strong>Housing:</strong> According to the Department of Labor, housing expenses eat up a third of the average budget. Buying or renting only as much space as you actually need, and in locations that are not highly priced, can free up hundreds of dollars each month.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Transportation:</strong> According to Kelley Blue Book, the price of a new car is almost $40,000. Consumers are taking out bigger, longer-term loans to afford these cars, and in many cases still owe money on a car when they replace it. The key to driving down these costs: Buy small to midsize fuel-efficient vehicles, and keep them for 10 to 15 years. Getting a car to 200,000 miles saves $30,000 on average, according to Consumer Reports.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Food:</strong> According to the Department of Agriculture, Americans waste 30% of the food they buy. Since the average household devotes 13% of its budget to food, that’s almost 4% of annual earnings going in the trash.
                    </p>
                </li>
            </ul>
            </div>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">4. Maximize Your Retirement Accounts.</h3>
            <p>
                You’re not the only person who wants you to eventually retire. Uncle Sam and maybe your employer also want to help out.
            </p>
            <p>
                Uncle Sam’s help comes in the form of accounts with special tax advantages. One such account is an IRA, which anyone with earned income (i.e., a paycheck) can open.
            </p>
            <p>
                The other accounts are offered by your employer (or yourself, if you’re self-employed). These include 401(k)s, 403(b)s, and the Thrift Savings Plan (TSP). Furthermore, your employer might sweeten the deal by matching your contributions to your account.
            </p>
            <p>
                What are the tax advantages of these accounts? It depends on the type:
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
                <ul class="internal-page-ul">
                <li>
                    <p>
                        <strong>Traditional IRA/401(k)/403(b)/TSP:</strong> Contributions might lower your taxable income, resulting in a lower tax bill in the year of the contribution. Plus, you won’t owe taxes on the interest, dividends, or capital gains generated by your investments in the account each year. But withdrawals from the account are taxed as ordinary income.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Roth IRA/401(k)/403(b)/TSP:</strong> You receive no tax benefits on contributions, but investment returns and withdrawals are tax-free as long as you follow the rules.
                    </p>
                </li>
            </ul>
        </div>
        <p class="text-wrapper-part">
           These tax breaks can boost your retirement savings by tens of thousands of dollars, compared to what you’d have if you’d saved in a regular bank or brokerage account.
        </p>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">5. Invest for the Long-Term Now.</h3>
            <p>
                You can set your portfolio up for success by choosing investments that have attractive long-term returns. According to Ibbotson Associates, here are the compound average annualized returns of the main types of investments from 1926 to 2019:
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
                <ul class="internal-page-ul">
                <li>
                    <p>
                        <strong>Large-cap stocks (such as those found in the S&P 500):</strong> 10.2% average annualized returns
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Government bonds:</strong> 5.5% average annualized returns
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Treasury bills (essentially cash):</strong> 3.3% average annualized returns
                    </p>
                </li>
            </ul>
        </div>
        <p class="text-wrapper-part">
            Those higher returns from stocks are the reason they are the investments of choice here at The Profit Master Academy. And you can get them by simply buying an S&P 500 or total stock market index fund, which -- with a single purchase -- makes you a legitimate part owner of hundreds of the biggest companies in the world.
        </p>
        <p>
            That said, the stock market is volatile and unpredictable. You can expect it to drop 20% or more every few years, and 40% or more once a decade. So money you want to keep safer -- especially if you need it in the next three to five years -- should be kept in cash or bonds. Not sure about the right mix for you? Consider a target retirement fund, which provides a prudent asset allocation based on your retirement date and gets gradually more conservative as the date approaches.
        </p>
    </div>
</section> 
 
<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">6. Take Advantage of Catch Up Contributions.</h3>
            <p>
                If you’re behind in your retirement planning, your mid-50s are a great opportunity to catch up by supercharging your savings. Uncle Sam agrees, which is why contribution limits to retirement accounts are higher for the 50-and-older crowd.
            </p>
            <p>
                It’s also important to learn about the programs that will have a significant impact on your retirement, including:
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
                <ul class="internal-page-ul">
                <li>
                    <p>
                        <strong>Social Security:</strong> You can claim benefits as early as age 62, but the sooner you file, the smaller your monthly check. How much does it pay to delay? The payout increases 6% to 8% each year, up until age 70. In fact, studies suggest most Americans should wait until age 70 to claim Social Security…but alas, most don’t.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>A defined-benefit pension:</strong> If you’re among the fortunate minority who will receive a check every month from your former employer for the rest of your life, take time to understand the formula and your options. Does retiring later result in a larger benefit? Can you instead take the pension as a lump sum? Is the pension fully funded, or is there a risk that future payments will be reduced?
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Medicare:</strong> On average, employers cover 70% of the costs of health insurance. But once you leave your job, you’re on your own. Fortunately, Medicare -- the health insurance program for retirees -- kicks in at age 65. Before you retire, understand what Medicare covers, and whether you need supplemental insurance.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
 
<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">7. Budget for a Long Retirement.</h3>
            <p>
                Some people use the term “financial independence” as a synonym for retirement. While that’s understandable, the truth is your dependence just shifts -- from a paycheck to your portfolio.
            </p>
            <p>
                A secure retirement starts with leaving the workforce only when you truly have enough resources. While research has found that approximately 50% of those who retire at age 65 will have to cut back on their lifestyles, that percentage drops to just 15% for those who retire at age 70. That’s the power of more years of saving, and of delaying Social Security.
            </p>
            <p>
                The other important factor is withdrawing a reasonable amount each year. Due to historically low interest rates on cash and bonds, the old 4% rule may no longer be as safe as it was in the past. Some research indicates that 3% to 3.5% might be better, or using the percentages that determine required minimum distributions to guide how much a retiree can spend annually.
            </p>
            <p>
                Finally, consider your backup assets -- such as home equity, life insurance, rental properties, and other assets of value -- that you could sell or borrow against in case of lower-than-expected investment returns or higher-than-expected expenses. 
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">8. Get Help with Retirement Planning.</h3>
            <p>
                If you’ve reached this point and are feeling overwhelmed, we understand. Retirement planning has a lot of moving parts.
            </p>
            <p>
                If you think you’d benefit from some expert objective guidance, consider hiring a fee-only <a href="">financial planner</a>. Some will actually manage your assets (and charge a percentage of those assets) while also providing retirement analysis; others just provide the advice, and charge by the hour or by the project. It’s not a bad idea to check in with a retirement professional every five to 10 years, and especially right before you retire, to ensure you’re doing everything possible to have the retirement you’ve always wanted.
            </p>
        </div>
    </div>
</section>

{{> footer }}