{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            Understanding Taxation of <span>Your Retirement Income</span>
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h4 class="internal-page-h4">How will your retirement income be taxed? Find out here.</h4>
            <p class="text-wrapper-part">
                When you're a retiree, taxes can eat into your available income and leave you with less to live on. It's
                important to remember that taxes don't stop once you're retired, but you can take steps throughout your
                working life to minimize your IRS obligations later.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="img-wrapper">
            <img src="/assets/images/tax-image.png" alt="">
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>
                Understanding the tax rules applicable to retirees is important even for younger Americans because many
                decisions to reduce your future tax bill need to be made early. This guide will explain the rules for
                how common sources of retirement income are taxed and provide some tips for retirement planning that can
                reduce your tax obligations.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                How to determine your tax bracket in retirement
            </h2>
            <p>
                Determining your tax bracket in retirement is just like determining your tax bracket prior to retirement
                since the same basic tax brackets that apply to all taxpayers apply to retirees. The bracket you fall
                into is determined by your filing status and taxable income (income minus deductions).
            </p>
            <p>
                Common sources of retirement income that are taxable include:
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <ul class="internal-page-ul">
                <li>
                    <p>
                        Distributions from traditional 401(k) and IRA accounts
                    </p>
                </li>
                <li>
                    <p>
                        Investment income
                    </p>
                </li>
                <li>
                    <p>
                        A portion of your Social Security benefits (in some situations)
                    </p>
                </li>
                <li>
                    <p>
                        Some pension income
                    </p>
                </li>
                <li>
                    <p>
                        Income from work (either full time or part time)
                    </p>
                </li>
            </ul>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <p>
                Once you've determined your taxable income, refer to a tax bracket table to determine your rate based on
                your filing status.
            </p>
            <p>
                One thing that's tricky, though, is that rates can change over time as they are adjusted for inflation
                or because of tax reform legislation. Therefore, if retirement is a long way off, it can be difficult to
                predict what your future rate will be. Still, if you can estimate your future retirement income, you can
                get a rough idea of what your tax bracket will likely be, barring any major legislative shifts.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                How to minimize taxes in retirement
            </h2>
            <p>
                There are steps you can take to minimize the taxes you'll pay as a retiree. Here are five techniques to
                try:
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <h3 class="internal-page-h3">Invest in Roth accounts</h3>
            <p>
                Distributions from Roth 401(k) and Roth IRA accounts are not taxable in retirement. You can take as much
                money out of these accounts as you would like without owing taxes, provided you follow IRS withdrawal
                rules.
            </p>
            <p>
                If you don't want to worry about paying taxes after you retire, use these accounts as your primary
                retirement savings vehicles. Or, put at least some of your retirement money into them throughout your
                working life to reduce your future tax bills.
            </p>
            <p>
                Be aware, though, that Roth accounts do not provide an up-front tax break in the year you make your
                contributions. As a result, it makes sense to choose Roths over traditional accounts if you expect your
                tax bracket will be higher in retirement than during the years you're contributing to your retirement
                accounts.
            </p>
            <p>
                It's possible to convert traditional accounts to Roth accounts. However, there are tax consequences, and
                a five-year rule may limit your ability to access your funds tax-free if you roll over your account too
                close to retirement.
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <h3 class="internal-page-h3">Live in a tax-friendly state</h3>
            <p>
                Some states have more tax friendly policies than others. Nine states levy no taxes at all on any income,
                while others don't tax Social Security.
            </p>
            <p>
                Since your geographic location isn't limited by your job after retirement, it can pay to relocate to a
                place where you won't owe your state government as much tax money.
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <h3 class="internal-page-h3">Make strategic withdrawals</h3>
            <p>
                After you reach age 72, you must begin taking required minimum distributions (RMDs) from certain
                tax-advantaged retirement accounts such as 401(k)s and IRAs. The amount of your distributions is based
                on factors such as your age and account balance.
            </p>
            <p>
                But, outside of these rules, you largely have control over when and how to withdraw funds. If there's a
                year when you expect your income to be lower, you may want to take larger taxable distributions from
                your accounts during that time so the money can be taxed at a lower rate.
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <h3 class="internal-page-h3">Choose tax-free investments</h3>
            <p>
                Retirees often move a portion of their retirement assets into bonds so they can maintain an appropriate
                level of risk as they age. Treasury bonds are generally exempt from taxes at the state and local level,
                while municipal bonds aren't taxed at the federal level. Explore these options to determine whether they
                should be a part of your portfolio.
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <h3 class="internal-page-h3">Invest for the long term</h3>
            <p>
                Investment income can be taxed at either short-term capital gains rates or long-term capital gains rates
                (if you've held the investment for at least a year and a day). Long-term capital gains are taxed at a
                much lower rate than short-term capital gains.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Taxes on Social Security income
            </h2>
            <p>
                Social Security benefits are taxed on the federal level only once your provisional income exceeds a
                certain threshold. Provisional income is half of Social Security benefits, all taxable income, and some
                non-taxable income such as municipal bond interest.
            </p>
            <p>
                Here's how taxes will apply to benefits depending on how much provisional income you have: You can ask
                the Social Security Administration to withhold taxes from your check (in much the same way employers
                did) so you don't end up owing a lot to the IRS when you file your taxes. If you don't have taxes
                withheld, you may need to submit quarterly estimated returns to pay taxes throughout the year.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Taxes on investment income
            </h2>
            <p>
                As a retiree, you may also have income coming in from investments in a taxable account. If that's the
                case, it's important to understand the rules that apply:
            </p>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <ul class="internal-page-ul">
                <li>
                    <p>
                        <strong>Interest income</strong> is usually taxed at your ordinary tax rate. That includes
                        income from certificates of deposit (CDs), most bond interest, and interest from checking or
                        savings accounts.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Income from selling an investment for more than you paid for it</strong> is usually
                        taxed at either the long-term capital gains tax rate (if you owned it for at least a year and a
                        day). If you sell it within a year, you'll be taxed at the short-term capital gains rate, which
                        is your ordinary income tax rate.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Dividend income</strong> is typically taxed at preferential rates provided certain
                        criteria are met, including being paid the dividend by a U.S. corporation or qualified foreign
                        corporation and not falling into excluded categories. You also must have held the stock that
                        pays the dividend for a certain minimum period. If your dividend isn't considered "qualified,"
                        it's taxed at your ordinary income tax rate.
                    </p>
                </li>
            </ul>
            <div class="text-wrapper text-wrapper-part">
                <p>
                    Understanding these tax rules is important when you select investments so you can make an accurate
                    assessment of the amount of after-tax income they will provide during your retirement.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="investing-news top-margin">
    <div class="container">
        <h2 class="section-title">Featured <span>Investing News </span></h2>
        {{> newsCarousel }}
    </div>
</section>

{{> footer }}