{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            What Is <span>Compound Interest?</span>
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h4 class="internal-subtitle">Here's a primer on this important financial concept investors need to
                understand.</h4>
            <p>
                When it comes to calculating interest, there are two basic choices: simple and compound. Simple interest
                simply means a set percentage of the principal amount every year.</p>
            <p>
                For example, if you invest $1,000 at 5% simple interest for 10 years, you can expect to receive $50 in
                interest every year for the next decade. No more, no less. In the investment world, bonds are an example
                of an investment type that typically pays simple interest.
            </p>
            <p>
                On the other hand, compound interest is what happens when you reinvest your earnings, which then earn
                interest as well. Compound interest essentially means "interest on the interest" and is the reason many
                investors are so successful.
            </p>
            <p>
                Think of it this way. Let's say you invest $1,000 at 5% interest. After the first year, you receive a
                $50 interest payment. But, instead of putting it in your pocket, you reinvest it at the same 5% rate.
                For the second year, your interest is calculated on a $1,050 investment, which comes to $52.50. If you
                reinvest that, your third-year interest will be calculated on a $1,102.50 balance. You get the idea.
                Compound interest means that your principal (and the interest it generates) gets larger over time.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                How compound interest is calculated
            </h2>
            <p>Compound interest is calculated by applying an exponential growth factor to the interest rate or rate of
                return you're using. To calculate compound interest over a certain period of time, here is a
                mathematical formula you can use:</p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="img-wrapper">
            <img src="/assets/images/compound-interest.png" alt="">
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>Where "A" is the final amount, "P" is the principal, "r" is the interest rate expressed as a decimal, "n"
                is the compounding frequency, and "t" is the time period in years. Here's what all of these variables
                mean:</p>
            <ul class="internal-page-ul space-list">
                <li><span>Principal</span> refers to the starting balance on which interest is being calculated. The
                    term is more commonly used in the context of a loan's original balance but can be applied to your
                    original investment amount as well. For example, if you decide to invest $10,000 for five years,
                    that amount would be your principal for the purposes of calculating compound interest.</li>
                <li><span>Rate</span> refers to the interest rate (or expected rate of return in investing), expressed
                    as a decimal. For calculation purposes, if you expect your investments to grow at an average rate of
                    7% per year, you would use 0.07 here.</li>
                <li><span>Compounding frequency </span>refers to how frequently you're adding interest to the principal.
                    Using the example of 7% interest, if we were to use annual compounding, you would simply add 7% to
                    the principal once per year. On the other hand, semi-annual compounding would involve applying half
                    of that amount (3.5%) twice a year. Other common compounding frequencies include quarterly (four
                    times per year), monthly, weekly, or daily. There's also a mathematical concept called continuous
                    compounding, where interest is constantly accumulating.</li>
                <li><span>Time</span> is a pretty self-explanatory concept, but for the purposes of calculating compound
                    interest, be sure to express the total time period in years. In other words, if you're investing for
                    30 months, be sure to use 2.5 years in the formula.</li>
            </ul>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Compounding frequency makes a difference
            </h2>
            <p>In the previous example, we used annual compounding -- meaning that interest is calculated once per year.
                In practice, compound interest is often calculated more frequently. Common compounding intervals are
                quarterly, monthly, and daily, but there are many other possible intervals that can be used.</p>
            <p>The compounding frequency makes a difference -- specifically, more frequent compounding leads to faster
                growth. For example, here is the growth of $10,000 at 8% interest compounded at several different
                frequencies:</p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Example of calculating compound interest
            </h2>
            <p>As a basic example, let's say you're investing $20,000 at 5% interest, compounded quarterly, for 20
                years. In this case, "n" would be four since quarterly compounding occurs four times per year. From this
                information, we can calculate the investment's final value after 20 years like this:</p>
        </div>
        <div class="img-wrapper">
            <img src="/assets/images/compound-example.png" alt="">
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Compound earnings vs. compound interest
            </h2>
            <p>The difference between compound interest and compound earnings is that compound earnings refers to the
                compounding effects of both interest payments and dividends, as well as appreciation in the value of the
                investment itself.</p>
            <p>For example, if a stock investment paid you a 4% dividend yield, and the stock itself increased in value
                by 5%, you'd have total earnings for the year of 9%. When these dividends and price gains compound over
                time, it is a form of compound earnings and not interest (since not all of the gains came from payments
                to you).</p>
            <p>In a nutshell, when you're talking about long-term returns from stocks, ETFs, or mutual funds, it's
                technically called compound earnings, although it can still be calculated in the same manner if you know
                your expected rate of return.</p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Why compound interest is such an important concept for investors
            </h2>
            <p>
                Compound interest is the phenomenon that allows seemingly small amounts of money to grow into large
                amounts over time. In order to take full advantage of the power of compound interest, investments must
                be allowed to grow and compound for long periods.
            </p>
        </div>
    </div>
</section>


<section class="investing-news top-margin">
    <div class="container">
        <h2 class="section-title">Featured <span>Investing News </span></h2>
        {{> newsCarousel }}
    </div>
</section>

{{> footer }}