.internal-main-section {
    padding-top: 120px;
}

.internal-section {
    padding-top: 60px;

}

h1.internal-page-title {
    color: var(--main-black);
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    max-width: 850px;
}

h1.internal-page-title span {
    color: var(--main-green);
}

.text-wrapper {
    max-width: 666px;
}

.img-wrapper {
    max-width: 1000px;
}

.img-wrapper img {
    width: 100%;
}

.text-wrapper-part {
    margin-top: 40px;
}

h2.internal-page-h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.4;
    color: var(--main-black);
    margin-bottom: 16px;
}

h2.internal-page-h2-40px {
    margin-bottom: 40px;
}

h3.internal-page-h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: var(--main-black);
    margin-bottom: 16px;
}

h3.internal-page-h3-50px {
    margin-top: 50px;
}

h4.internal-page-h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: var(--main-black);
    margin-bottom: 16px;
}

h4.internal-page-name {
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    margin-bottom: 12px;
}

p {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #555555;
}

.internal-page-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.internal-page-ul li {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #555555;
    list-style: disc;
}

.space-list {
    margin: 60px 0;
}

.space-list li {
    margin-bottom: 32px;
}

.internal-page-ul li span {
    font-weight: 700;
}

.internal-page-span {
    font-weight: 700;
    color: var(--main-green);
}

.internal-page-span-part {
    font-weight: 700;
    color: #FC483F;
}

.num-list li {
    list-style: auto;
}

.internal-subtitle {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #555555;
    margin-bottom: 40px;
}

.not-list {
    padding: 0;
}

.not-list li {
    list-style: none;
    margin-bottom: 16px;
}

.internal-section a {
    font-family: 'Raleway';
    color: #555555;
}


.rating-badge {
    max-width: 380px;
}

.news-wrapper .nav-link.active {
    background: var(--main-green);
    color: #ffffff;
}

.news-wrapper .nav-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    border-radius: 90px;
    padding: 16px 24px;
}

.newsroom-grid img {
    width: 100%;
    border-radius: 16px;
}

.review-item {
    margin-bottom: 40px;
}

.internal-section-contact {
    font-family: 'Poppins' !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #141414 !important;

}