:root {
    --main-black: #141414;
    --main-green: #00C753;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
    font-weight: 400;
}

body {
    background-color: #F8F4EE;
}

.page-wrapper {
    background-color: #ffffff;
    border-radius: 0px 0px 40px 40px;
    max-width: 1352px;
    margin: 0 auto;
}

.container {
    padding: 0 80px;
}

main {
    padding-bottom: 120px;
}


.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 67px;
    z-index: 1;
}

.logo img {
    width: 110px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 67px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F4EE;
    padding: 17px 48px;
    border-radius: 50px;
    margin-bottom: 0;
}

.menu-item {
    position: relative;
}

.menu-item_drop::after {
    content: "";
}

.drop-menu {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0px;
    min-width: 280px;
    transition: 0.2s all ease-in-out;
}

.drop-menu-list {
    margin-top: 45px;
    background-color: #F8F4EE;
    border-radius: 24px;
    padding: 18px 24px;
}

.drop-menu-item {
    width: 100%;
    margin-bottom: 12px;
}

.drop-menu-item:hover a {
    color: var(--main-black);
}

.drop-menu .drop-menu-item a {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
}

.menu-item:hover .drop-menu {
    display: block;
    opacity: 1;
}

.menu li:not(:last-child) {
    margin-right: 32px;
}

.menu a {
    font-family: 'Raleway';
    display: block;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #555555;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
}

.menu a svg {
    margin-left: 9px;
}

.menu a:hover {
    opacity: 1;
    color: var(--main-black);
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: scale(1, 1);
}

.top-margin {
    margin-top: 140px;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: #555555;
}

.logo span {
    color: #00C753;
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
}

/*------------------------------- Main section -------------------------------*/

.main-section {
    padding-top: 100px;
    padding-bottom: 46px;
}

.main-section h1 {
    font-family: 'Poppins';
    font-weight: 400;
    color: #141414;
    font-size: 62px;
    line-height: 1.1;
    max-width: 714px;
    margin: 0 auto;
}

.main-section h1 span {
    display: block;
    color: var(--main-green);
    font-weight: 600;
    position: relative;
}

.main-section h1 span img {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
}

.main-section svg {
    margin-top: 11px;
    margin-left: 40px;
}

.main-section p {
    font-family: 'Poppins';
    color: #555555;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 24px;
    font-weight: 400;
    max-width: 665px;
    margin: 0 auto;
    margin-top: 40px;
}

.main-section .container {
    text-align: center;
}

.call-wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.call-wrapper a {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    padding: 20px 18px;
    text-align: center;
    text-decoration: none;
    height: 57px;
}

.call-wrapper a.link-text {
    color: #333333;
    margin-right: 40px;
    transition: 0.3s;
    border-radius: 10px;
}

.call-wrapper a.link-text:hover {
    background: var(--main-green);
    box-shadow: 14px 0px 35px rgba(33, 38, 106, 0.1);
}

.call-wrapper a.link-btn {
    background: var(--main-green);
    box-shadow: 14px 0px 35px rgba(33, 38, 106, 0.1);
    border-radius: 10px;
    color: #333333;
    transition: 0.3s;
}

.call-wrapper a.link-btn:hover {
    background: #333333;
    color: #ffffff;
}

.rating-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 93px;
}

.rating-item {
    background-color:#F8F4EE;
    border-radius: 4px;
    padding: 13px 21px;
}

.rating-item span {
    margin-right: 18px;
    color: #6A6A6A;
    font-size: 14px;
}

.testimonial-carousel {
    margin-bottom: 16px;
}

.testimonial-carousel-item {
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin: 0 8px;
}

.testimonial-carousel .testimonial-carousel-item {
    height: 364px !important;
}

.testimonial-carousel_second .testimonial-carousel-item {
    height: 214px !important;
}

.testimonial-carousel-item img {
    width: 100%;
}

/*------------------------------- See what other saying -------------------------------*/

.see-what-others-section {
    margin-top: 100px;
}

.see-what-others-section .container {
    max-width: 1232px;
    padding: 0 20px;
}

.other-saying-wrapper {
    margin-top: 40px;
}

.other-saying_item {
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 32px;
    max-width: 384px;
    min-height: 407px;
}

.other-saying_item p {
    color: #000000;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 32px;
}

.other-saying_item img.video-img {
    margin-bottom: 32px;
}

.other-saying_item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.4;
    color: #555555;
    text-decoration: none;
}

.other-saying_item img {
    width: auto;
}

.other-saying_item img.logo-img {
    width: fit-content;
    margin-top: auto;
}

.other-saying_item a svg {
    margin-left: 10px;
}
/*------------------------------- Financial success -------------------------------*/

.row-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.financial-success_text {
    width: 50%;
}

.financial-success_items {
    width: 45%;
}

.financial-success_text p {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.4;
    color: var(--main-black);
    margin-bottom: 24px;
}

.financial-success_text p span {
    color: var(--main-green);
}

.icon-item {
    width: 100%;
    display: flex;
    align-items: center;
    background: #F8F4EE;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
}

.icon-item_icon {
    background: #FFFFFF;
    border-radius: 14.4px;
    min-width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.icon-item_text p {
    color: var(--main-black);
    font-size: 24px;
    line-height: 1.4;
}


/*------------------------------- How it works -------------------------------*/

h2.section-title {
    color: var(--main-black);
    font-size: 40px;
    line-height: 1.4;
    max-width: 700px;
    margin-bottom: 24px;
}

.section-title span {
    color: var(--main-green);
}

.steps_wrapper {
    margin-top: 60px;
}

.step-col-1 {
    width: 32%;
    position: relative;
    padding: 50px 50px 50px 0;
}

.step-col-2 {
    width: 36%;
    position: relative;
    padding: 50px;
}

.step-col-3 {
    width: 32%;
    position: relative;
    padding: 50px 0 50px 50px;
}

.step-col:not(:last-child):after {
    content: "";
    background: linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.982286) 7.52%, #D9D9D9 91.88%, rgba(217, 217, 217, 0) 100%);
    width: 240px;
    position: absolute;
    right: -120px;
    top: 120px;
    height: 1px;
    transform: rotate(90deg);
}

.step-col_title {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}

.step-col_title span {
    font-size: 72px;
    line-height: 1;
    color: var(--main-green);
    margin-right: 28px;
}

.step-col_title p {
    font-size: 24px;
    line-height: 1.4;
    color: var(--main-black);
    margin-bottom: 0;
}

.step-col_text p {
    color: #555555;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
}


/*------------------------------- Open account -------------------------------*/

h3.section-subtitle {
    font-size: 24px;
    line-height: 140%;
    color: #555555;
    margin-bottom: 24px;
    font-weight: 400;
}

.prices-wrapper {
    margin-top: 80px;
}

.price-col {
    width: 32%;
    background: #F8F4EE;
    border: 1px solid #E7E0D5;
    border-radius: 16px;
    padding: 40px 36px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.price-col_title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    color: var(--main-black);
    margin-bottom: 60px;
}

.price-col_data {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 24px;
}

.price-col_data p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-black);
    max-width: 110px;
    margin-bottom: 0;
}

.price-col_data span {
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
    color: var(--main-black);
}

.price-col a {
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--main-black);
    background: var(--main-green);
    box-shadow: 14px 0px 35px rgba(33, 38, 106, 0.1);
    border-radius: 10px;
    padding: 16px 0;
    width: 100%;
}


/*------------------------------- Leaders -------------------------------*/
.leaders-wrapper {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.leader-item {
    width: 280px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.leader-item.custom-padding img {
    padding: 20px;
}


.leader-item img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}


/*------------------------------- Testimonials -------------------------------*/

.matching-trium .row-flex {
    align-items: center;
}

.matching-col-title p,
.matching-col-title h2 {
    max-width: 600px;
}

.matching-col-rate {
    background: #F8F4EE;
    border-radius: 20px;
    padding: 20px 50px;
    height: 140px;
}

.matching-col-rate p {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 16px;
    color: #555555;
}

.matching-col-rate a {
    text-decoration: none;
}

.rating {
    display: flex;
}

.rating-stars {
    margin-left: 16px;
}

.rating-stars img {
    margin-bottom: 12px;
}

.rating span {
    color: var(--main-black);
    letter-spacing: -0.06em;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
}


.testimonials {
    margin-top: 120px;
}

.slick-slide {
    height: auto;
}

.tab-testimonial-carousel {
    position: relative;
}

.tab-testimonial-carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 86.46%);
    z-index: 1;
}

.tab-testimonial-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 86.46%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 1;
}

.tab-testimonial-carousel .slick-slide {
    /* margin: 0 40px; */
    position: relative;
}

.testimonial-slide-content {
    width: 480px;
    padding: 0 40px;
}

.tab-testimonial-carousel .slick-center::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, #D9D9D9 7.52%, #D9D9D9 91.88%, rgba(217, 217, 217, 0) 100%);
}

.tab-testimonial-carousel .slick-center::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, #D9D9D9 7.52%, #D9D9D9 91.88%, rgba(217, 217, 217, 0) 100%);
}

.person-info {
    display: flex;
    margin-top: 40px;
}

.person-info_name {
    margin-left: 24px;
}

p.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 8px;
    color: var(--main-black);
}

p.person-status {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    color: #555555;
}

.person-info img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-link:hover {
    color: #555555;
}

/*------------------------------- News -------------------------------*/

.news-carousel img {
    width: 100%;
    border-radius: 16px;
    height: 380px;
    object-fit: cover;
}

.news-carousel p {
    font-size: 20px;
    line-height: 140%;
    margin-top: 24px;
    color: var(--main-black);
}

.news-carousel .slick-slide {
    margin: 0 13px;
}

.custom-tab-link {
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    color: var(--main-black);
}

.nav-link.custom-tab-link.active {
    color: var(--main-green);
}

.nav.nav-underline {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.news-carousel a {
    text-decoration: none;
}

button.slick-next.slick-arrow::before,
button.slick-prev.slick-arrow::before {
    content: none;
}

button.slick-next.slick-arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%2300C753'/%3E%3Cpath d='M22 15.71L22.3447 15.3478L22.7253 15.71L22.3447 16.0722L22 15.71ZM10 16.21C9.72386 16.21 9.5 15.9861 9.5 15.71C9.5 15.4338 9.72386 15.21 10 15.21V16.21ZM16.3447 9.6378L22.3447 15.3478L21.6553 16.0722L15.6553 10.3622L16.3447 9.6378ZM22.3447 16.0722L16.3447 21.7822L15.6553 21.0578L21.6553 15.3478L22.3447 16.0722ZM22 16.21H10V15.21H22V16.21Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 32px;
    height: 32px;
    top: -80px;
    right: 13px;
}

button.slick-next.slick-arrow.slick-disabled {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23D9D9D9'/%3E%3Cpath d='M22 15.71L22.3447 15.3478L22.7253 15.71L22.3447 16.0722L22 15.71ZM10 16.21C9.72386 16.21 9.5 15.9861 9.5 15.71C9.5 15.4338 9.72386 15.21 10 15.21V16.21ZM16.3447 9.6378L22.3447 15.3478L21.6553 16.0722L15.6553 10.3622L16.3447 9.6378ZM22.3447 16.0722L16.3447 21.7822L15.6553 21.0578L21.6553 15.3478L22.3447 16.0722ZM22 16.21H10V15.21H22V16.21Z' fill='white'/%3E%3C/svg%3E%0A");
}

button.slick-prev.slick-arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' transform='matrix(-1 0 0 1 32 0)' fill='%2300C753'/%3E%3Cpath d='M10 15.71L9.65531 15.3478L9.27471 15.71L9.65531 16.0722L10 15.71ZM22 16.21C22.2761 16.21 22.5 15.9861 22.5 15.71C22.5 15.4338 22.2761 15.21 22 15.21V16.21ZM15.6553 9.6378L9.65531 15.3478L10.3447 16.0722L16.3447 10.3622L15.6553 9.6378ZM9.65531 16.0722L15.6553 21.7822L16.3447 21.0578L10.3447 15.3478L9.65531 16.0722ZM10 16.21H22V15.21H10V16.21Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 32px;
    height: 32px;
    top: -80px;
    right: 53px;
    left: auto;
}

button.slick-prev.slick-arrow.slick-disabled {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' transform='matrix(-1 0 0 1 32 0)' fill='%23D9D9D9'/%3E%3Cpath d='M10 15.71L9.65531 15.3478L9.27471 15.71L9.65531 16.0722L10 15.71ZM22 16.21C22.2761 16.21 22.5 15.9861 22.5 15.71C22.5 15.4338 22.2761 15.21 22 15.21V16.21ZM15.6553 9.6378L9.65531 15.3478L10.3447 16.0722L16.3447 10.3622L15.6553 9.6378ZM9.65531 16.0722L15.6553 21.7822L16.3447 21.0578L10.3447 15.3478L9.65531 16.0722ZM10 16.21H22V15.21H10V16.21Z' fill='white'/%3E%3C/svg%3E%0A");
}

/*------------------------------- FAQ -------------------------------*/


.faq h2.section-title {
    max-width: 100%;
    text-align: center;
}

.faq-accordion.accordion .accordion-item {
    background: #F8F4EE;
    border-radius: 16px;
    max-width: 706px;
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.faq-accordion.accordion .accordion-item .accordion-button.custom-accordion-button {
    background: #F8F4EE;
    border-radius: 16px;
    height: 96px;
    outline: none;
    box-shadow: none;
    padding-left: 32px;
    font-size: 20px;
    line-height: 1.4;
    padding-right: 160px;
    transition: none;
}

.accordion-item .accordion-button::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0002 1L11.0002 21' stroke='%23141414' stroke-width='1.66667' stroke-linecap='round'/%3E%3Cpath d='M21 11L1 11' stroke='%23141414' stroke-width='1.66667' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    transition: none;
    position: absolute;
    right: 40px;
}

.accordion-button:not(.collapsed)::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='2' viewBox='0 0 22 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 1L1 0.999999' stroke='%23141414' stroke-width='1.66667' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    transition: none;
    position: absolute;
    right: 40px;
    top: 30px;
}

/*------------------------------- Footer -------------------------------*/

footer {
    max-width: 1352px;
    padding: 120px 0;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col-1 {
    width: 45%;
}

.footer-col-2 {
    width: 55%;
}

.footer-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.footer-menu-col {
    width: 25%;
    padding-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p.footer-menu_item.botom-menu_item {
    margin-top: auto;
}

.footer-text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #141414;
    padding: 28px 0 42px 0;
    max-width: 455px;
}

p.footer-menu_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: var(--main-black);
    margin-bottom: 16px;
}

p.footer-menu_item {
    margin-bottom: 12px;
}

p.footer-menu_item a {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #141414;
    text-decoration: none;
}

.socials a {
    margin-right: 24px;
}


/*------------------------------- Companies -------------------------------*/
.company-block {
    background: #F8F4EE;
    border: 1px solid #E7E0D5;
    border-radius: 16px;
    display: flex;
    margin-bottom: 20px;
}

.company-block-text {
    padding: 32px;
}

.company-block-text p {
    font-size: 12px;
}

.company-block-logo {
    width: 220px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 38px 18px;
    position: relative;
}

.company-block-logo::after {
    content: "";
    width: 126px;
    height: 1px;
    background: linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.982286) 7.52%, #D9D9D9 91.88%, rgba(217, 217, 217, 0) 100%);
    transform: rotate(90deg);
    position: absolute;
    top: 94px;
    right: -60px;
}

.company-block-logo p {
    font-size: 14px;
}

.company-block-logo img {
    max-width: 158px;
}

.company-block-logo .company-stars {
    max-width: 96px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.accordion-button:focus {
    color: var(--main-black);
}

/* Modal Content */
.modal {
    opacity: 0;
    visibility: hidden;
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.2s ease-out;
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 24px;
    border: 0;
    border-radius: 16px;
    width: 600px;
    height: 440px;
    position: relative;
    text-align: center;
}

.close {
    color: #555555;
    font-size: 32px;
    line-height: 1;
    position: absolute;
    top: 16px;
    right: 16px;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content .person-img {
    width: 132px;
    height: 132px;
    margin: 0 auto;
    margin-top: -55px;
}

.modal-content .stars-img {
    width: 168px;
    margin: 0 auto;
    margin-bottom: 52px;
}

.modal-content p.name {
    color: #333333;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 16px;
}

.modal-content .text {
    position: relative;
}

.modal-content .text p {
    color: #333333;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 504px;
}

.modal-content .modal-btn {
    color: #141414;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    background: #00C753;
    box-shadow: 14px 0px 35px rgba(33, 38, 106, 0.1);
    border-radius: 10px;
    width: 280px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 62px;
    transition: 0.2s;
}

.modal-content .modal-btn:hover {
    color: #ffffff;
    background: #000000;
}

svg.quote1 {
    position: absolute;
    left: 4px;
    top: -20px;
}

svg.quote2 {
    position: absolute;
    right: 4px;
    bottom: -20px;
}