{{> header title="About Us" }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            About Us
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">Who We Are</h3>
            <div class="text-wrapper text-wrapper-part">
              <p>
                Profit Masters is a group of online education specialists, financial markets veterans and marketers who came together to create a meaningful platform for growth. We specialize in business growth, financial education, investing advice and mentorship - all aligned with our core belief that knowledge is power.
              </p>
              <p>
                We provide a variety of solutions to improve many areas of your financial life, including your investment portfolio, financial education, business growth, real estate holdings, company, and career.
              </p>
              <p>
                As a top tier affiliate partner of 50+ industry leaders, we promote growth for both the client and the company while earning a small fee so we can meet our ongoing expenses and continue providing you with up to date, profit-making tips and educational guides.
              </p>
              <p>
                Our solutions are for people who are looking to create a secondary income from the lucrative returns that Bitcoin and other financial assets have to offer.
              </p>
            </div>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">Partners to your financial success</h3>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <p>
              It's not just about your money, it's about your life. At PM Academy we understand how complex your life and financial situation can be, and we're here to help. Our team of certified financial planners can help you get all the right information so you can make the best decisions. for your financial future.
            </p>
            <p>
              We believe proper investing should be easy – that means <br>none of the aggressive sales tactics or complicated <br>processes. We partner with solutions that are clear, easy to <br>use and emphasize education and support.
            </p>
            <p>
              Trading should be for everyone, <br>and getting started is super-easy!
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">The Profilt Masters Academy Board of Directors</h3>
            <div class="text-wrapper text-wrapper-part">
              <h4 class="internal-page-h4 internal-page-name">Cristofer Gouse</h4>
              <p class="internal-page-text">
                Vice President, Product, Android & <br>Play Security
              </p>
            </div>
            <div class="text-wrapper">
              <h4 class="internal-page-h4 internal-page-name">Craig Torff</h4>
              <p class="internal-page-text">
                General Counsel
              </p>
            </div>
            <div class="text-wrapper">
              <h4 class="internal-page-h4 internal-page-name">Carter Dias</h4>
              <p class="internal-page-text">
                Former VP of Consumer Marketing, LinkedIn
              </p>
            </div>
            <div class="text-wrapper">
              <h4 class="internal-page-h4 internal-page-name">Tom Gardner</h4>
              <p class="internal-page-text">
                Co-Founder, Chief Executive Officer, <br>and Co-Chairman
              </p>
            </div>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h2-40px">
                FAQ
            </h3>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h3 class="internal-page-h3">
                Contact
            </h3>
        </div>
        <div class="text-wrapper text-wrapper-part">
           <a href="mailto:support@profitmasters.academy" class="internal-section-contact">support@profitmasters.academy</a>
        </div>
    </div>
</section>

{{> footer }}