{{> header title="About Us" }}

<section class="internal-main-section">
  <div class="container">
    <h1 class="internal-page-title">
      About Us
    </h1>
  </div>
</section>

<section class="internal-section">
  <div class="container">
    <div class="text-wrapper">
      <h3 class="internal-page-h3">Who We Are</h3>
      <div class="text-wrapper text-wrapper-part">
        <p>
          Profit Masters is a group of online education specialists, veterans of the financial markets, and investment
          specialists who came together to create a meaningful platform for growth. We specialise in business growth,
          financial education, investing advice, and mentorship - all aligned with our core belief that knowledge is
          power.
        </p>
        <p>
          We provide various solutions to improve all aspects of your financial situation, including your investment
          portfolio, financial education, business growth, real estate holdings, company, and career.
        </p>
        <p>
          As a top-tier affiliate partner of 50+ industry leaders, we promote growth for both the client and the company
          while earning a small fee to meet our ongoing expenses and continue providing you with up-to-date,
          profit-making tips and educational guides.
        </p>
        <p>
          Our solutions are for people who are looking to create a secondary income from the lucrative returns that
          Bitcoin and other financial assets have to offer.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="internal-section">
  <div class="container">
    <div class="text-wrapper">
      <h3 class="internal-page-h3">Partners to your financial success</h3>
    </div>
    <div class="text-wrapper text-wrapper-part">
      <p>
        Our solutions are for people who are looking to create a secondary income from the lucrative returns that
        Bitcoin and other financial assets have to offer.
      </p>
      <p>
        Our solutions are for people who are looking to create a secondary income from the lucrative returns that
        Bitcoin and other financial assets have to offer.
      </p>
    </div>
  </div>
</section>

{{!-- <section class="internal-section">
  <div class="container">
    <h3 class="internal-page-h3">The Profit Masters Academy Board of Directors</h3>
    <div class="row text-wrapper-part">
      <div class="col-md-6 col-sm-12">
        <div class="text-wrapper">
          <h4 class="internal-page-h4 internal-page-name">Cristofer Gouse</h4>
          <p class="internal-page-text">
            Vice President, Product, Android & <br>Play Security
          </p>
        </div>
        <div class="text-wrapper">
          <h4 class="internal-page-h4 internal-page-name">Craig Torff</h4>
          <p class="internal-page-text">
            General Counsel
          </p>
        </div>
        <div class="text-wrapper">
          <h4 class="internal-page-h4 internal-page-name">Carter Dias</h4>
          <p class="internal-page-text">
            Former VP of Consumer Marketing, LinkedIn
          </p>
        </div>
        <div class="text-wrapper">
          <h4 class="internal-page-h4 internal-page-name">Tom Gardner</h4>
          <p class="internal-page-text">
            Co-Founder, Chief Executive Officer, <br>and Co-Chairman
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-img">
          <img src="/assets/images/about.png" alt="" />
        </div>
      </div>

    </div>
  </div>
</section> --}}

<section class="internal-section">
  <div class="container">
    <div class="text-wrapper">
      <h3 class="internal-page-h3 internal-page-h2-40px">
        FAQ
      </h3>
      {{> faqHome }}
    </div>
  </div>
</section>

<section class="internal-section">
  <div class="container">
    <div class="text-wrapper">
      <h3 class="internal-page-h3">
        Contact
      </h3>
    </div>
    <div class="text-wrapper text-wrapper-part">
      <a href="mailto:office@profitmasters.io" class="internal-section-contact">office@profitmasters.io</a>
    </div>
  </div>
</section>

{{> footer }}