{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            Financial <span>Dictionary</span>
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>
                This A to Z guide of economic and financial terms will tell you everything you need to know about
                banking.
            </p>
            <p>
                Every term has been verified by our experts in investing, accounts for individuals and businesses,
                salary accounts, mortgages, payment cards and other financial products, and they are all explained in
                clear, concise language to help you understand them.
            </p>
            <p>
                We have included the most common concepts that are widely used in digital and printed documents about
                financial products, such as contracts, clauses, terms and conditions, appendices, etc.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="news-wrapper">
            <ul class="nav nav-pills" id="pills-tab-letters" data-bs-offset="100">
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-A">A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-B">B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-C">C</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-D">D</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-E">E</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-F">F</a>
                </li>
            </ul>

            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
                tabindex="0">

                <div id="scroll-A" class="letters-grid">
                    <p class="letter">A</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>Amortization</p>
                            <p>Annual Report</p>
                            <p>Assets Under Management (AUM)</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Angel Investors</p>
                            <p>Asset</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Accredited Investor</p>
                            <p>Asset Management</p>
                        </div>
                    </div>
                </div>

                <div id="scroll-B" class="letters-grid">
                    <p class="letter">B</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>Black Swan Event</p>
                            <p>Break-Even Point</p>
                            <p>Big Four Accounting Firms</p>
                            <p>Bid and Ask</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Business Day</p>
                            <p>Bernie Madoff</p>
                            <p>Bank Run</p>
                            <p>Beta</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Baby Boomer</p>
                            <p>Bond</p>
                            <p>Bank Statement</p>
                        </div>
                    </div>
                </div>

                <div id="scroll-C" class="letters-grid">
                    <p class="letter">C</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>Correlation Coefficient</p>
                            <p>Corporation</p>
                            <p>Chief Executive Officer (CEO)</p>
                            <p>Chartered Financial Analyst (CFA)</p>
                            <p>CBOE Volatility Index (VIX)</p>
                            <p>C-Suite</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Cash Flow</p>
                            <p>Confidence Interval</p>
                            <p>Cash-on-Cash Return</p>
                            <p>Cup and Handle Pattern</p>
                            <p>Capital</p>
                            <p>Cost Cutting</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Chief Operating Officer (COO)</p>
                            <p>Cost Per Thousand (CPM)</p>
                            <p>Cryptocurrency</p>
                            <p>Capitalism</p>
                            <p>Conservatorship</p>
                            <p>Carbon Credits</p>
                        </div>
                    </div>
                </div>

                <div id="scroll-D" class="letters-grid">
                    <p class="letter">D</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>Correlation Coefficient</p>
                            <p>Corporation</p>
                            <p>Chief Executive Officer (CEO)</p>
                            <p>Chartered Financial Analyst (CFA)</p>
                            <p>CBOE Volatility Index (VIX)</p>
                            <p>C-Suite</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Cash Flow</p>
                            <p>Confidence Interval</p>
                            <p>Cash-on-Cash Return</p>
                            <p>Cup and Handle Pattern</p>
                            <p>Capital</p>
                            <p>Cost Cutting</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Chief Operating Officer (COO)</p>
                            <p>Cost Per Thousand (CPM)</p>
                            <p>Cryptocurrency</p>
                            <p>Capitalism</p>
                            <p>Conservatorship</p>
                            <p>Carbon Credits</p>
                        </div>
                    </div>
                </div>

            </div>
</section>



{{> footer }}