{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            Financial <span>Dictionary</span>
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>
                This A to Z guide of economic and financial terms will tell you everything you need to know about
                banking.
            </p>
            <p>
                Every term has been verified by our experts in investing, accounts for individuals and businesses,
                salary accounts, mortgages, payment cards and other financial products, and they are all explained in
                clear, concise language to help you understand them.
            </p>
            <p>
                We have included the most common concepts that are widely used in digital and printed documents about
                financial products, such as contracts, clauses, terms and conditions, appendices, etc.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="news-wrapper dictionary-wrapper">
            <ul class="nav nav-pills" id="pills-tab-letters" data-bs-offset="100">
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-A">A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-B">B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-C">C</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-D">D</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-E">E</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-F">F</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-G">G</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-H">H</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-I">I</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-K">K</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-L">L</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-M">M</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-N">N</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-O">O</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-P">P</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-R">R</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-S">S</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-T">T</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-U">U</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-V">V</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-W">W</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-Y">Y</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scroll-Z">Z</a>
                </li>
            </ul>

            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
                tabindex="0">

                {{!-- <div id="scroll-A" class="letters-grid">
                    <p class="letter">A</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>Amortization</p>
                            <p>Annual Report</p>
                            <p>Assets Under Management (AUM)</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Angel Investors</p>
                            <p>Asset</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Accredited Investor</p>
                            <p>Asset Management</p>
                        </div>
                    </div>
                </div>

                <div id="scroll-B" class="letters-grid">
                    <p class="letter">B</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>Black Swan Event</p>
                            <p>Break-Even Point</p>
                            <p>Big Four Accounting Firms</p>
                            <p>Bid and Ask</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Business Day</p>
                            <p>Bernie Madoff</p>
                            <p>Bank Run</p>
                            <p>Beta</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Baby Boomer</p>
                            <p>Bond</p>
                            <p>Bank Statement</p>
                        </div>
                    </div>
                </div>

                <div id="scroll-C" class="letters-grid">
                    <p class="letter">C</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>Correlation Coefficient</p>
                            <p>Corporation</p>
                            <p>Chief Executive Officer (CEO)</p>
                            <p>Chartered Financial Analyst (CFA)</p>
                            <p>CBOE Volatility Index (VIX)</p>
                            <p>C-Suite</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Cash Flow</p>
                            <p>Confidence Interval</p>
                            <p>Cash-on-Cash Return</p>
                            <p>Cup and Handle Pattern</p>
                            <p>Capital</p>
                            <p>Cost Cutting</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Chief Operating Officer (COO)</p>
                            <p>Cost Per Thousand (CPM)</p>
                            <p>Cryptocurrency</p>
                            <p>Capitalism</p>
                            <p>Conservatorship</p>
                            <p>Carbon Credits</p>
                        </div>
                    </div>
                </div>

                <div id="scroll-D" class="letters-grid">
                    <p class="letter">D</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <p>Correlation Coefficient</p>
                            <p>Corporation</p>
                            <p>Chief Executive Officer (CEO)</p>
                            <p>Chartered Financial Analyst (CFA)</p>
                            <p>CBOE Volatility Index (VIX)</p>
                            <p>C-Suite</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Cash Flow</p>
                            <p>Confidence Interval</p>
                            <p>Cash-on-Cash Return</p>
                            <p>Cup and Handle Pattern</p>
                            <p>Capital</p>
                            <p>Cost Cutting</p>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <p>Chief Operating Officer (COO)</p>
                            <p>Cost Per Thousand (CPM)</p>
                            <p>Cryptocurrency</p>
                            <p>Capitalism</p>
                            <p>Conservatorship</p>
                            <p>Carbon Credits</p>
                        </div>
                    </div>
                </div> --}}

  
                <div id="scroll-A" class="letters-grid">
                <p class="letter">A</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Amortization</p>
                        <p>Accredited Investor</p>
                        <p>Angel Investors</p>
                        <p>Asset Management</p>
                        <p>Annual Report</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Assets Under Management (AUM)</p>
                        <p>Asset</p>
                        <p>Amazon Bedrock</p>
                        <p>Automated Clearing House</p>
                        <p>AutoGPT</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Average Trade Price</p>
                        <p>Artificial Intelligence</p>
                        <p>Augmented Intelligence</p>
                        <p>Audit</p>
                    </div>
                </div>
                </div>
                <div id="scroll-B" class="letters-grid">
                <p class="letter">B</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Black Swan Event</p>
                        <p>Bernie Madoff</p>
                        <p>Bank Statement</p>
                        <p>Business Day</p>
                        <p>Bid and Ask</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Baby Boomer</p>
                        <p>Bonds</p>
                        <p>Big Four Accounting Firms</p>
                        <p>Beta</p>
                        <p>Break-Even Point</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Bank Run</p>
                        <p>Business Ethics</p>
                        <p>Business Logistics</p>
                        <p>Bollinger Bands</p>
                    </div>
                </div>
                </div>
                <div id="scroll-C" class="letters-grid">
                <p class="letter">C</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Correlation Coefficient</p>
                        <p>Confidence Interval</p>
                        <p>Cryptocurrency</p>
                        <p>CBOE Volatility Index (VIX)</p>
                        <p>C-Suite</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Cash Flow</p>
                        <p>Cost Per Thousand (CPM)</p>
                        <p>Chartered Financial Analyst (CFA)</p>
                        <p>Capital</p>
                        <p>Cost Cutting</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Chief Operating Officer (COO)</p>
                        <p>Chief Executive Officer (CEO)</p>
                        <p>Cup and Handle Pattern</p>
                        <p>Conservatorship</p>
                        <p>Carbon Credits</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Corporation</p>
                        <p>Cash-on-Cash Return</p>
                        <p>Capitalism</p>
                        <p>Check</p>
                        <p>Commodities</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Consumer-Packaged Goods (CPGs)</p>
                        <p>Cloud Computing</p>
                    </div>
                </div>
                </div>
                <div id="scroll-D" class="letters-grid">
                <p class="letter">D</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Days Sales Outstanding (DSO)</p>
                        <p>Debt-Service Coverage Ratio (DSCR)</p>
                        <p>Days Payable Outstanding (DPO)</p>
                        <p>Demand Deposit</p>
                        <p>Demographics</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Dealer</p>
                        <p>Digital Wallet</p>
                        <p>Depreciation</p>
                        <p>Due Diligence</p>
                        <p>Disbursement</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Dividends Per Share</p>
                        <p>Divest</p>
                        <p>Deep Learning</p>
                    </div>
                </div>
                </div>
                <div id="scroll-E" class="letters-grid">
                <p class="letter">E</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Exchange-Traded Fund (ETF)</p>
                        <p>Entrepreneur</p>
                        <p>Errors and Omissions (E&O) Insurance</p>
                        <p>Expatriate (Expat)</p>
                        <p>Equity</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Employee Stock Ownership Plan (ESOP)</p>
                        <p>Exit Strategy</p>
                        <p>Escrow</p>
                        <p>Expected Value</p>
                        <p>Ex Works (EXW)</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Enron</p>
                    </div>
                </div>
                </div>
                <div id="scroll-F" class="letters-grid">
                <p class="letter">F</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Fiscal Quarter</p>
                        <p>Fortune 100</p>
                        <p>Financial Securities</p>
                        <p>Financial Institution</p>
                        <p>Fixed Income</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>First In, First Out (FIFO)</p>
                        <p>Fast Fashion</p>
                        <p>Fibonacci Retracement</p>
                        <p>Fiscal Policy</p>
                        <p>Forex Trading Robot</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Federal Reserve</p>
                        <p>FOMC (Federal Open Market Committee)</p>
                        <p>Future Value</p>
                        <p>First World Countries</p>
                        <p>Factors of Production</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Forward P/E</p>
                        <p>Foreclosure</p>
                    </div>
                </div>
                </div>
                <div id="scroll-G" class="letters-grid">
                <p class="letter">G</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Gross Domestic Product (GDP)</p>
                        <p>General Ledger</p>
                        <p>Golden Cross</p>
                        <p>Gross Expense Ratio</p>
                        <p>Gross Profit Margin</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Gap Analysis</p>
                        <p>Growth at a Reasonable Price (GARP)</p>
                    </div>
                </div>
                </div>
                <div id="scroll-H" class="letters-grid">
                <p class="letter">H</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Hyperinflation</p>
                        <p>High Net-Worth Individual (HNWI)</p>
                        <p>Homeowners Association (HOA) Fee</p>
                        <p>Human Capital</p>
                        <p>Homestead Exemption</p>
                    </div>
                </div>
                </div>
                <div id="scroll-I" class="letters-grid">
                <p class="letter">I</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>International Bank Account Number (IBAN)</p>
                        <p>Interest Rate</p>
                        <p>Insider Trading</p>
                        <p>Invisible Hand</p>
                        <p>Implied Volatility (IV)</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Internet Service Provider (ISP)</p>
                        <p>Iron Condor</p>
                        <p>Income Statement</p>
                    </div>
                </div>
                </div>
                <div id="scroll-K" class="letters-grid">
                <p class="letter">K</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Kaizen Process</p>
                    </div>
                </div>
                </div>
                <div id="scroll-L" class="letters-grid">
                <p class="letter">L</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Letter of Intent (LOI)</p>
                        <p>Liability</p>
                        <p>Last Will and Testament</p>
                        <p>Long-Term Equity Anticipation Securities (LEAPS)</p>
                        <p>Liquidity Ratios</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Leverage Ratio</p>
                        <p>Loan-to-Value (LTV) Ratio</p>
                        <p>Lease</p>
                        <p>Leveraged Buyout (LBO)</p>
                        <p>Law of Large Numbers</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Limited Partnership</p>
                    </div>
                </div>
                </div>
                <div id="scroll-M" class="letters-grid">
                <p class="letter">M</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Modified Adjusted Gross Income</p>
                        <p>Merchant Banking</p>
                        <p>Money Laundering</p>
                        <p>Marketing</p>
                        <p>Monte Carlo Simulation</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Moving Average Convergence or Divergence (MACD)</p>
                        <p>Marginal Cost</p>
                        <p>Memorandum of Understanding (MOU)</p>
                        <p>Margin Call</p>
                        <p>Marketing Strategy</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Mark to Market (MTM)</p>
                        <p>Monopolistic Competition</p>
                        <p>Mortgage-Backed Securities (MBS)</p>
                        <p>Money Market Fund</p>
                        <p>Machine Learning</p>
                    </div>
                </div>
                </div>
                <div id="scroll-N" class="letters-grid">
                <p class="letter">N</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Net Income</p>
                        <p>Network Marketing</p>
                        <p>Net Expense Ratio</p>
                    </div>
                </div>
                </div>
                <div id="scroll-O" class="letters-grid">
                <p class="letter">O</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Over-the-Counter (OTC)</p>
                        <p>Operating Lease</p>
                    </div>
                </div>
                </div>
                <div id="scroll-P" class="letters-grid">
                <p class="letter">P</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>P/E Ratio</p>
                        <p>Public Relations (PR)</p>
                        <p>P-Value</p>
                        <p>Prisoner's Dilemma</p>
                        <p>Point-of-Sale System</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Pension</p>
                        <p>Percent Change</p>
                        <p>Price Elasticity of Demand</p>
                        <p>Present Value (PV)</p>
                        <p>Phillips Curve</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Property Management</p>
                        <p>Product Life Cycle</p>
                        <p>Production Possibility Frontier (PFF)</p>
                        <p>Pattern Day Trader</p>
                        <p>Per Stirpes</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Positive Feedback Loop</p>
                        <p>Pricing Power</p>
                        <p>Perfect Competition</p>
                    </div>
                </div>
                </div>
                <div id="scroll-Q" class="letters-grid">
                <p class="letter">Q</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Quantitative Easing</p>
                    </div>
                </div>
                </div>
                <div id="scroll-R" class="letters-grid">
                <p class="letter">R</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Returns</p>
                        <p>Racketeering</p>
                        <p>Retained Earnings</p>
                        <p>Real Property</p>
                        <p>Revenue</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Relative Strength Index (RSI) Indicator</p>
                        <p>Repurchase Agreement (RePo)</p>
                        <p>Refinancing</p>
                        <p>Right of First Refusal (ROFR)</p>
                        <p>Registered Investment Advisor</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Rent to Own</p>
                    </div>
                </div>
                </div>
                <div id="scroll-S" class="letters-grid">
                <p class="letter">S</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Soft Skills</p>
                        <p>SWOT Analysis</p>
                        <p>Supply Chain</p>
                        <p>Supply Chain Management (SCM)</p>
                        <p>Swing Trading</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Special Purpose Vehicle (SPV)</p>
                        <p>Stakeholders</p>
                        <p>Small and Midsize Enterprises (SME)</p>
                        <p>Sustainability</p>
                        <p>Securities</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Stipend</p>
                        <p>Shrinkflation</p>
                        <p>Sheriff's Sale</p>
                        <p>Social Security Number (SSN)</p>
                        <p>Law of Supply and Demand</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Series 7</p>
                        <p>SEC (Securities and Exchange Commission)</p>
                        <p>Savings Account</p>
                        <p>Sarbanes-Oxley Act</p>
                        <p>Strike Price</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Step-Up Basis</p>
                        <p>Social Media</p>
                        <p>Spiffy Pop</p>
                        <p>Shadow Trading</p>
                        <p>Sign-On Bonus</p>
                    </div>
                </div>
                </div>
                <div id="scroll-T" class="letters-grid">
                <p class="letter">T</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Tenancy in Common</p>
                        <p>Target Market</p>
                        <p>Title Loan</p>
                        <p>Tax Identification Number (TIN)</p>
                        <p>Trailing 12 Months (TTM)</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <p>Trustee</p>
                        <p>Theta</p>
                        <p>Taxable Income</p>
                    </div>
                </div>
                </div>
                <div id="scroll-U" class="letters-grid">
                <p class="letter">U</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Underwriter</p>
                        <p>Universal Basic Income (UBI)</p>
                        <p>Unicorn Company</p>
                    </div>
                </div>
                </div>
                <div id="scroll-V" class="letters-grid">
                <p class="letter">V</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Volume-Weighted Average Price (VWAP)</p>
                        <p>Value-Added Tax</p>
                        <p>Virtual Assistant</p>
                        <p>Value Trap</p>
                        <p>Vertically Integrated</p>
                    </div>
                </div>
                </div>
                <div id="scroll-W" class="letters-grid">
                <p class="letter">W</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>W-2</p>
                        <p>White-Label Product</p>
                        <p>Withholding Allowance</p>
                    </div>
                </div>
                </div>
                <div id="scroll-Y" class="letters-grid">
                <p class="letter">Y</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Yield to Maturity (YTM)</p>
                        <p>Yield Curve</p>
                    </div>
                </div>
                </div>
                <div id="scroll-Z" class="letters-grid">
                <p class="letter">Z</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>Zero-Sum Game</p>
                    </div>
                </div>
                </div>
            </div>
</section>



{{> footer }}