{{> header }}

<section class="main-section">
  <div class="container">
    <h1 class="page-title">
      Account Activation Made Simple
      <span>Don't Miss Our Call
        <img src="/assets/images/main-call.png" alt="">
      </span>
    </h1>
    <svg width="587" height="9" viewBox="0 0 587 9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 4.46934C0 2.00099 2.00099 0 4.46934 0H587V1L4.5302 8.93826C2.03827 8.97222 0 6.9615 0 4.46934Z" fill="#00C753"/>
    </svg>
    <p>Our dedicated team is standing by to assist you activate your account.
       Be ready to answer your phone; we're here to prioritize your success.</p>
    <div class="call-wrapper">
      <a href="https://meetings-eu1.hubspot.com/jason-cooper" class="link-text" target="_blank">Schedule for later</a>
      <a href="#" id="chat-link" class="link-btn">Request a call now</a>
    </div>

    <div class="rating-wrapper">
      <div class="rating-item">
        <span>TrustScore 4.6</span>
        <img src="/assets/images/trustpilot-logo.png" alt="">
      </div>  
      <div class="rating-item">
        <span>4.7 Rating</span>
        <img src="/assets/images/single-star.png" alt="">
        <img src="/assets/images/reviews-logo.png" alt="">
      </div>  
      <div class="rating-item">
        <span>4.9 Rating</span>
        <img src="/assets/images/orange-star.png" alt="">
        <img src="/assets/images/sitejabber-logo.png" alt="">
      </div>  
    </div>
  </div>
</section>

<section class="rating-section">
  <div class="testimonials-wrapper">
    <div class="testimonials-wrapper_row">
      <div class="testimonial-carousel">
        <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review1-1.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review1-2.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review1-3.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review1-4.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review1-5.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review1-6.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review1-7.jpg" alt="">
          </a>
        </div>
      </div>

            <div class="testimonial-carousel_second">
        <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review2-1.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review2-2.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review2-3.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review2-4.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review2-5.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review2-6.jpg" alt="">
          </a>
        </div>
         <div class="testimonial-carousel-item">
          <a href="https://www.google.com/search?q=profitmasters.io+revews&oq=profitmasters.io+revews&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKAB0gEINjk3M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">
            <img src="/assets/images/main-section-reviews/review2-7.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="see-what-others-section">
  <div class="container">
    <h2 class="section-title">See what <span>others are saying</span></h2>

    <div class="other-saying-wrapper row-flex">
        <div class="other-saying_item">
          <p>“Navigating the Investment Jungle: Profit Masters Provides Personalized Brokerage Match Service for New Investors”</p>
          <a href="https://finance.yahoo.com/news/navigating-investment-jungle-profit-masters-233000288.html" target="_blank">full article 
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 6.50002L13.4136 6.06539L13.8703 6.50002L13.4136 6.93466L13 6.50002ZM1 7.10002C0.668629 7.10002 0.4 6.8314 0.4 6.50002C0.4 6.16865 0.668629 5.90002 1 5.90002V7.10002ZM7.41363 0.355401L13.4136 6.06539L12.5864 6.93466L6.58637 1.22468L7.41363 0.355401ZM13.4136 6.93466L7.41363 12.6446L6.58637 11.7754L12.5864 6.06539L13.4136 6.93466ZM13 7.10002H1V5.90002H13V7.10002Z" fill="#555555"/>
            </svg>
          </a>
          <img src="/assets/images/yahoo-logo.png" class="logo-img" />
        </div>
        <div class="other-saying_item">
          <img src="/assets/images/profi-video.png" class="video-img"/>
          <a href="https://www.youtube.com/watch?v=D1AhhbNjLD0" target="_blank">watch video 
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 6.50002L13.4136 6.06539L13.8703 6.50002L13.4136 6.93466L13 6.50002ZM1 7.10002C0.668629 7.10002 0.4 6.8314 0.4 6.50002C0.4 6.16865 0.668629 5.90002 1 5.90002V7.10002ZM7.41363 0.355401L13.4136 6.06539L12.5864 6.93466L6.58637 1.22468L7.41363 0.355401ZM13.4136 6.93466L7.41363 12.6446L6.58637 11.7754L12.5864 6.06539L13.4136 6.93466ZM13 7.10002H1V5.90002H13V7.10002Z" fill="#555555"/>
            </svg>
          </a>
          <img src="/assets/images/digital-logo.png" class="logo-img" />
        </div>
        <div class="other-saying_item">
          <p>ProfitMasters.io Helped Me Find the Perfect Broker: A Personal Experience</p>
          <a href="https://medium.com/@kennethjhires/profitmasters-io-reviews-profitmasters-io-helped-me-find-the-perfect-broker-a-personal-experience-bb8d418791fa" target="_blank">full article 
            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 6.50002L13.4136 6.06539L13.8703 6.50002L13.4136 6.93466L13 6.50002ZM1 7.10002C0.668629 7.10002 0.4 6.8314 0.4 6.50002C0.4 6.16865 0.668629 5.90002 1 5.90002V7.10002ZM7.41363 0.355401L13.4136 6.06539L12.5864 6.93466L6.58637 1.22468L7.41363 0.355401ZM13.4136 6.93466L7.41363 12.6446L6.58637 11.7754L12.5864 6.06539L13.4136 6.93466ZM13 7.10002H1V5.90002H13V7.10002Z" fill="#555555"/>
            </svg>
          </a>
          <img src="/assets/images/medium-logo.png" class="logo-img" />
        </div>
    </div>
  </div>
</section>

<section class="financial-success top-margin" id="financialSuccess">
  <div class="container">
    <div class="row-flex">
      <div class="financial-success_text">
        <p>Partners to your <span>financial success</span>, through expert investment guidance</p>
        <p>Join over half a million premium members <span>trading smart and receiving:</span></p>
      </div>
      <div class="financial-success_items">
        <div class="icon-item">
          <div class="icon-item_icon">
            <img src="/assets/images/icons/person.svg" />
          </div>
          <div class="icon-item_text">
            <p>Unique personalized brokerage match</p>
          </div>
        </div>
        <div class="icon-item">
          <div class="icon-item_icon">
            <img src="/assets/images/icons/crypto.svg" />
          </div>
          <div class="icon-item_text">
            <p>Live crypto signals and automated trading features</p>
          </div>
        </div>
        <div class="icon-item">
          <div class="icon-item_icon">
            <img src="/assets/images/icons/guide.svg" />
          </div>
          <div class="icon-item_text">
            <p>Personal guidance from an investment specialist expert</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="how-it-works top-margin">
  <div class="container">

    <h2 class="section-title">How it works? <br> Getting started is <span>super-easy</span></h2>

    <div class="steps_wrapper row-flex">
      <div class="step-col step-col-1">
        <div class="step-col_title">
          <span>1</span>
          <p>Getting to know</p>
        </div>
        <div class="step-col_text">
          <p>You’ll get a call from one of our experts during business hours.</p>
        </div>
      </div>
      <div class="step-col step-col-2">
        <div class="step-col_title">
          <span>2</span>
          <p>Matching the right trading company</p>
        </div>
        <div class="step-col_text">
          <p>After learning a bit more about your style and goals we will match you with the perfect solution</p>
        </div>
      </div>
      <div class="step-col step-col-3">
        <div class="step-col_title">
          <span>3</span>
          <p>Securing up to $200 cash back</p>
        </div>
        <div class="step-col_text">
          <p>Funding your personal trading account with one of our top trading partners and getting your free trading
            gift.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="open-account top-margin" id="openAccount">
  <div class="container">

    <h3 class="section-subtitle">We thought that your first step should be celebrated</h3>
    <h2 class="section-title">Open your account and <span> receive up to $200 free</span> trade in crypto assets</h2>
    <h3 class="section-subtitle">Kick off your trading endeavors today</h3>

    <div class="prices-wrapper row-flex">
      <div class="price-col">
        <p class="price-col_title">Invest $500 Today</p>
        <div class="price-col_data">
          <p>Get Extra for trading</p>
          <span>$50</span>
        </div>
        <a class="openChatBtn" href="#">Start Trading</a>
      </div>
      <div class="price-col">
        <p class="price-col_title">Invest $1000 Today</p>
        <div class="price-col_data">
          <p>Get Extra for trading</p>
          <span>$100</span>
        </div>
        <a class="openChatBtn" href="#">Start Trading</a>
      </div>
      <div class="price-col">
        <p class="price-col_title">Invest $2000 Today</p>
        <div class="price-col_data">
          <p>Get Extra for trading</p>
          <span>$200</span>
        </div>
        <a class="openChatBtn" href="#">Start Trading</a>
      </div>
    </div>
  </div>
</section>

<section class="industry-leaders top-margin">
  <div class="container">
    <h2 class="section-title">We work with <span>industry leaders</span></h2>

    {{> leadersCarouselHome}}
  </div>
</section>

<section class="matching-trium top-margin">
  <div class="container">
    <div class="row-flex">
      <div class="matching-col-title">
        <h2 class="section-title"><span>Matching Triumphs: </span>Here's What They Have to Say</h2>
        <p>Since 2003, The Profit Master team has been a trusted source of investment and financial advice to thousands
          of members. Read their reviews showcasing our commitment to making the world smarter and richer. We are
          dedicated to customer feedback in order to provide the best services possible.</p>
      </div>
      <div class="matching-col-rate">
        <p>Rating score from 1st-party site reviws</p>
        <div class="rating">
          <span>4.3</span>
          <div class="rating-stars">
            <img src="/assets/images/stars.png" />
            <p>Out of 5 Stars</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="investing-news top-margin">
  <div class="container">
    <h2 class="section-title">Featured <span>Investing News </span></h2>
    {{> newsCarousel }}
  </div>
</section>

<section class="faq top-margin">
  <div class="container">
    <h2 class="section-title">Frequently <span>Asked Questions </span></h2>
    <div class="faq-wrapper">
      <div class="nav nav-underline" id="faq-tab" role="tablist">
        <button class="nav-link active custom-tab-link" id="v-pills-financial-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-financial" type="button" role="tab" aria-controls="v-pills-financial"
          aria-selected="true">Financial Information</button>
        <button class="nav-link custom-tab-link" id="v-pills-trading-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-trading" type="button" role="tab" aria-controls="v-pills-trading"
          aria-selected="false">Trading</button>
        <button class="nav-link custom-tab-link" id="v-pills-technical-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-technical" type="button" role="tab" aria-controls="v-pills-technical"
          aria-selected="false">Technical support</button>
      </div>

      <div class="tab-content" id="v-pills-tabContent-faq">
        <div class="tab-pane fade show active" id="v-pills-financial" role="tabpanel"
          aria-labelledby="v-pills-financial-tab" tabindex="0">
          {{> faqHome }}
        </div>
        <div class="tab-pane fade" id="v-pills-trading" role="tabpanel" aria-labelledby="v-pills-trading-tab"
          tabindex="0">
          {{> faqHomeTrading }}
        </div>
        <div class="tab-pane fade" id="v-pills-technical" role="tabpanel" aria-labelledby="v-pills-technical-tab"
          tabindex="0">
          {{> faqHomeTech }}</div>
      </div>
    </div>
  </div>
</section>

{{> footer }}