{{> header }}

<section class="main-section">
  <div class="container">
    <h1 class="page-title">
      We specialize in <span>matching you</span> with <br> the <span>right brokerage </span><br>to your involving needs
    </h1>
    <h2>Invest better and smarter with The Profit Masters Academy</h2>
    <div class="call-wrapper">
      <p>If you have not received a call in the next two hours, please click here to schedule a phone appointment with
        your dedicated expert</p>
      <a href="">Get a call now</a>
    </div>
  </div>
</section>

<section class="logo-section">
  <div class="container">
    <div class="logo_wrapper">
      <div class="logo_item">
        <img src="../assets/images/logos/logo1.png" alt="">
      </div>
      <div class="logo_item">
        <img src="../assets/images/logos/logo2.png" alt="">
      </div>
      <div class="logo_item">
        <img src="../assets/images/logos/logo3.png" alt="">
      </div>
      <div class="logo_item">
        <img src="../assets/images/logos/logo1.png" alt="">
      </div>
      <div class="logo_item">
        <img src="../assets/images/logos/logo2.png" alt="">
      </div>
      <div class="logo_item">
        <img src="../assets/images/logos/logo3.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="financial-success top-margin">
  <div class="container">
    <div class="row-flex">
      <div class="financial-success_text">
        <p>Partners to your <span>financial success</span>, through expert investment guidance</p>
        <p>Join over half a million premium members <span>trading smart and receiving:</span></p>
      </div>
      <div class="financial-success_items">
        <div class="icon-item">
          <div class="icon-item_icon">
            <img src="../assets/images/icons/person.png" />
          </div>
          <div class="icon-item_text">
            <p>Unique personalized brokerage match</p>
          </div>
        </div>
        <div class="icon-item">
          <div class="icon-item_icon">
            <img src="../assets/images/icons/crypto.png" />
          </div>
          <div class="icon-item_text">
            <p>Live crypto signals and automated trading features</p>
          </div>
        </div>
        <div class="icon-item">
          <div class="icon-item_icon">
            <img src="../assets/images/icons/guide.png" />
          </div>
          <div class="icon-item_text">
            <p>Personal guidance from an investment specialist expert</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="how-it-works top-margin">
  <div class="container">

    <h2 class="section-title">How it works? <br> Getting started is <span>super-easy</span></h2>

    <div class="steps_wrapper row-flex">
      <div class="step-col step-col-1">
        <div class="step-col_title">
          <span>1</span>
          <p>Getting to know</p>
        </div>
        <div class="step-col_text">
          <p>You’ll get a call from one of our experts during business hours.</p>
        </div>
      </div>
      <div class="step-col step-col-2">
        <div class="step-col_title">
          <span>2</span>
          <p>Matching the right trading company</p>
        </div>
        <div class="step-col_text">
          <p>After learning a bit more about your style and goals we will match you with the perfect solution</p>
        </div>
      </div>
      <div class="step-col step-col-3">
        <div class="step-col_title">
          <span>3</span>
          <p>Securing up to $200 cash back</p>
        </div>
        <div class="step-col_text">
          <p>Funding your personal trading account with one of our top trading partners and getting your free trading
            gift.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="open-account top-margin">
  <div class="container">

    <h3 class="section-subtitle">We thought that your first step should be celebrated</h3>
    <h2 class="section-title">Open your account and <span> receive up to $200 free</span> trade in crypto assets</h2>
    <h3 class="section-subtitle">Kick off your trading endeavors today</h3>

    <div class="prices-wrapper row-flex">
      <div class="price-col">
        <p class="price-col_title">Invest $500 Today</p>
        <div class="price-col_data">
          <p>Get Extra for trading</p>
          <span>$50</span>
        </div>
        <a href="">Start Trading</a>
      </div>
      <div class="price-col">
        <p class="price-col_title">Invest $1000 Today</p>
        <div class="price-col_data">
          <p>Get Extra for trading</p>
          <span>$100</span>
        </div>
        <a href="">Start Trading</a>
      </div>
      <div class="price-col">
        <p class="price-col_title">Invest $2000 Today</p>
        <div class="price-col_data">
          <p>Get Extra for trading</p>
          <span>$200</span>
        </div>
        <a href="">Start Trading</a>
      </div>
    </div>
  </div>
</section>

<section class="industry-leaders top-margin">
  <div class="container">
    <h2 class="section-title">We work with <span>industry leaders</span></h2>

    <div class="leaders-wrapper">
      <div class="leader-item">
        <img src="../assets/images/leaders/leader1.png" alt="">
      </div>
      <div class="leader-item">
        <img src="../assets/images/leaders/leader2.png" alt="">
      </div>
      <div class="leader-item">
        <img src="../assets/images/leaders/leader3.png" alt="">
      </div>
      <div class="leader-item">
        <img src="../assets/images/leaders/leader1.png" alt="">
      </div>
      <div class="leader-item">
        <img src="../assets/images/leaders/leader5.png" alt="">
      </div>
      <div class="leader-item">
        <img src="../assets/images/leaders/leader6.png" alt="">
      </div>
      <div class="leader-item">
        <img src="../assets/images/leaders/leader7.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="matching-trium top-margin">
  <div class="container">
    <div class="row-flex">
      <div class="matching-col-title">
        <h2 class="section-title"><span>Matching Triumphs: </span>Here's What They Have to Say</h2>
        <p>Since 2003, The Profit Master team has been a trusted source of investment and financial advice to thousands
          of members. Read their reviews showcasing our commitment to making the world smarter and richer. We are
          dedicated to customer feedback in order to provide the best services possible.</p>
      </div>
      <div class="matching-col-rate">
        <p>Overal rating of 1,103 1st-party reviws</p>
        <div class="rating">
          <span>4.6</span>
          <div class="rating-stars">
            <img src="../assets/images/stars.png" />
            <p>Out of 5 Stars</p>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="nav nav-underline" id="v-pills-tab" role="tablist">
        <button class="nav-link active custom-tab-link" id="v-pills-experts-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-experts" type="button" role="tab" aria-controls="v-pills-experts"
          aria-selected="true">Experts</button>
        <button class="nav-link custom-tab-link" id="v-pills-team-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-team" type="button" role="tab" aria-controls="v-pills-team"
          aria-selected="false">Team</button>
        <button class="nav-link custom-tab-link" id="v-pills-members-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-members" type="button" role="tab" aria-controls="v-pills-members"
          aria-selected="false">Members</button>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-experts" role="tabpanel"
          aria-labelledby="v-pills-experts-tab" tabindex="0">
          <div class="tab-testimonial-carousel">
            <div>
              <div class="testimonial-slide-content">
                <p>Bitcoin is going to be digital gold. In order to be a part of crypto you need to understand crypto
                  and
                  there is no better place to do it that PM Academy. Great public service</p>
                <div class="person-info">
                  <img src="../assets/images/testimonials/expert-michael.png" />
                  <div class="person-info_name">
                    <p class="person-name">Michael Novogratz</p>
                    <p class="person-status">Ex-hedge fund manager and CEO of Galaxy Investment</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial-slide-content">
                <p>Bitcoin is going to be digital gold. In order to be a part of crypto you need to understand crypto
                  and
                  there is no better place to do it that PM Academy. Great public service</p>
                <div class="person-info">
                  <img src="../assets/images/testimonials/expert-michael.png" />
                  <div class="person-info_name">
                    <p class="person-name">Michael Novogratz</p>
                    <p class="person-status">Ex-hedge fund manager and CEO of Galaxy Investment</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial-slide-content">
                <p>Bitcoin is going to be digital gold. In order to be a part of crypto you need to understand crypto
                  and
                  there is no better place to do it that PM Academy. Great public service</p>
                <div class="person-info">
                  <img src="../assets/images/testimonials/expert-michael.png" />
                  <div class="person-info_name">
                    <p class="person-name">Michael Novogratz</p>
                    <p class="person-status">Ex-hedge fund manager and CEO of Galaxy Investment</p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="testimonial-slide-content">
                <p>Bitcoin is going to be digital gold. In order to be a part of crypto you need to understand crypto
                  and
                  there is no better place to do it that PM Academy. Great public service</p>
                <div class="person-info">
                  <img src="../assets/images/testimonials/expert-michael.png" />
                  <div class="person-info_name">
                    <p class="person-name">Michael Novogratz</p>
                    <p class="person-status">Ex-hedge fund manager and CEO of Galaxy Investment</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-team" role="tabpanel" aria-labelledby="v-pills-team-tab" tabindex="0">
          team</div>
        <div class="tab-pane fade" id="v-pills-members" role="tabpanel" aria-labelledby="v-pills-members-tab"
          tabindex="0">members</div>
      </div>
    </div>

  </div>
</section>

<section class="investing-news top-margin">
  <div class="container">
    <h2 class="section-title">Featured <span>Investing News </span></h2>
    {{> newsCarousel }}
  </div>
</section>

<section class="faq top-margin">
  <div class="container">
    <h2 class="section-title">Frequently <span>Asked Questions </span></h2>
    <div class="faq-wrapper">
      <div class="nav nav-underline" id="faq-tab" role="tablist">
        <button class="nav-link active custom-tab-link" id="v-pills-financial-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-financial" type="button" role="tab" aria-controls="v-pills-financial"
          aria-selected="true">Financial Information</button>
        <button class="nav-link custom-tab-link" id="v-pills-trading-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-trading" type="button" role="tab" aria-controls="v-pills-trading"
          aria-selected="false">Trading</button>
        <button class="nav-link custom-tab-link" id="v-pills-technical-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-technical" type="button" role="tab" aria-controls="v-pills-technical"
          aria-selected="false">Technical support</button>
      </div>

      <div class="tab-content" id="v-pills-tabContent-faq">
        <div class="tab-pane fade show active" id="v-pills-financial" role="tabpanel"
          aria-labelledby="v-pills-financial-tab" tabindex="0">
          {{> faqHome }}
        </div>
        <div class="tab-pane fade" id="v-pills-trading" role="tabpanel" aria-labelledby="v-pills-trading-tab"
          tabindex="0">
          trading</div>
        <div class="tab-pane fade" id="v-pills-technical" role="tabpanel" aria-labelledby="v-pills-technical-tab"
          tabindex="0">technical</div>
      </div>
    </div>
  </div>
</section>

{{> footer }}