{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            Refund Policy
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>
                All Membership Fees are fully earned upon payment and are non-refundable except during the first 90 days since the beginning of the Membership Period under the condition that you have viewed no more than 50% of the lessons made available to you in the Trading Essentials, Technical Trading and Strategic Trading courses.
            </p>
            <p>
                You can request a refund by emailing us at support@profitmasters.academy stating your wish to receive a refund and your full name. We will carry out the reimbursement using the same means of payment as you used for the initial transaction.
            </p>
            <p>
                Once we receive your cancellation request, you will cease to have access to the site immediately.
            </p>
        </div>
    </div>
</section>

{{> footer }}