<div class="accordion faq-accordion" id="faq-accordion-home">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        Why should I choose profit masters recommandation?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          The Profit Masters team is the world's leading financial academy, we are working closely with all the leading
          investment firms - offering tier 1 market access and safety of funds. Profit Masters is a group of online
          education specialists, financial markets veterans and marketers who came together to create a meaningful
          platform for growth. We specialize in business growth, financial education, investing advice and mentorship -
          all aligned with our core belief that knowledge is power.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Do I need to have some kind of experience?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          No need for previous knowledge. Our partners provide full, real-time guidance and market education to help you
          grow. We only pair you with brokers that offer trading guidance and incorporate our educational core
          principles.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree">
        What kind of results should I expect?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          Results could vary according to your investment preferences and level of deposit and while past performance
          may not indicate future results, our clients have been able to get unparalleled return on investment.
          Financial firms we work with provide you with a trading platform which guarantee real market access.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        How many hours per day do I need to work?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          We believe proper investing should be easy. Studies have shown that investing 30 minutes per week in active
          trading can lead to significant financial improvements. We partner with solutions that are clear, easy to use
          and emphasize education and support.
        </p>
      </div>
    </div>
  </div>

</div>