<div class="accordion faq-accordion" id="faq-accordion-home">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        Which type of documents do I need to send?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          Similar to opening a bank account, the financial firms we match you with are required to comply with
          anti-fraud and anti money laundering policies. therefore they may request to perform identity and residential
          address verification. In some jurisdictions your identity can be verified electronically, while in others you
          will be required to provide certain documents. Moreover, as part of the due diligence process, you may be
          required to provide proof of your residential verification and certain information regarding the payment
          method you wish to use to fund your account.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        What is required to verify my account?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          Customers are required to verify their accounts for identification and security purposes in accordance with
          our customer due diligence process, for example the verification of your name, date of birth, residential
          address, phone number, email address and payment method, etc.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree">
        What do I need to start trading?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          After completing your details you'll get a call from one of our experts during business hours. From learning a
          bit more about your style and goals we will match you with the perfect solution. Then you can fund your
          personal trading account with one of our top trading partners and get your free trading gift.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        What is tax identification number?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          The Tax Identification Number (TIN) is a personal number used for tax purposes in your tax country (i.e. the
          country in which you report your taxes). The term used for TIN varies from one country to another, for
          example: Identification Number, National Insurance Number, Social Security Number, etc. Accordingly, you will
          be asked to supply your TIN information.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        Is it safe to use my credit/debit card online?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          Our platform is protected by SSL (Secure Socket Layer). All sensitive information submitted by our customers,
          such as credit/debit card numbers, passwords, etc. is automatically transferred by SSL to a secure
          environment.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
        Credit/debit card refund (company policy)
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          All of our partners receive funds from credit/debit cards. Profit Masters are responsible for the procedure
          and give full guidance in any refund request, we will always attempt to refund the card in the first instance
          irrespective of the withdrawal method you chose when requesting the refund. Your chosen method acts as a
          backup in the event that we are unable to make the refund to the depositing card. Once approved and submitted,
          a credit card refund is deliverable prior to your next monthly charge/billing date.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseSeven">
        How do I withdraw funds?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          In order to make a withdrawal you should follow these instructions: Log in to your trading account → Click on
          “Funds Management” → “Withdrawal” → Select your preferred withdrawal method → Fill in the fields and click on
          the "Submit" button (on mobile devices, you can access the “Funds Management” screen from the menu button).
        </p>
      </div>
    </div>
  </div>
</div>