<div class="accordion faq-accordion" id="faq-accordion-home">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        Are there any hidden fees?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>There are no hidden fees at Profit Masters. Profit Masters is mainly compensated for its services through
          matchmaking fees from our partners: the investment firms we work with.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        How do I get my costs and charges statement?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>Profit Masters is a matchmaking service, we don't charge any fees from our clients. You can see your costs
          and charges statement as part of your annual report in any of the firms we will match you with.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree">
        Why do I need to top up a trading account?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>In order to start trading in the financial market some initial capital is required. As a top tier affiliate
          partner of 50+ industry leaders the diversification is wide and the initial requirements for each are
          different: while some require initial capital of 5000 euro others can start as low as 500. This is where we
          stand out, our team of experts specialize in matching you the right brokerage to your evolving needs.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        Are my funds at risk in case of insolvency/bankruptcy?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>We are working only with tier 1 partners who hold all client funds in segregated bank accounts, to ensure
          maximum protection of funds.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        Can I deposit using a corporate credit/debit card/account?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>No. All funds must originate from a payment method registered in your own name.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
        Can I deposit from a joint bank account?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>Usually yes, however you may be required to provide supporting documentation to confirm that you are one of
          the named parties on the account. Nevertheless, in certain countries and under certain circumstances this may
          not be possible due to regulatory obligations.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseSeven">
        What is the processing time frame for each withdrowal method?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
      <div class="accordion-body">
        <p>
          The time frame for processing a withdrawal request is normally 1-3 business days, in order to allow us to
          complete various security checks before initiating payment. The time frame for receipt of the payment, is
          dependent upon the payment method and processing time of the third party remitter. The withdrawal screen on
          the trading platform states the minimum withdrawal requirements for each type of payment method. Processing a
          withdrawal request for less than the minimum withdrawal amount may result in charges to your account. Listed
          below are the withdrawal methods we offer. Please note that some of the methods may not be available in your
          region: Electronic wallets - PayPal or Skrill. Funds should be received in your e-wallet account in 3-7
          business days after withdrawal has been authorised. Bank transfer - direct bank to bank funds transfer. Funds
          should be received in your bank account within 5-7 business days from the authorisation of the withdrawal.
          Withdrawals to a bank account may be subject to further delays sometimes depending on the banking institution
          and the jurisdiction in question. Credit/debit cards - funds should be received in the respective credit/debit
          cards and/or bank account associated with the relevant card according to each bank's processing time. Our
          policy is to, wherever possible, make withdrawal payments to the same source that was used to make the deposit
          on the customer's account. For example, if a customer deposits using a Visa card, we will always first attempt
          to process any withdrawal thereafter to the same Visa card account. Once the withdrawal has been authorised,
          the funds should be credited to the customer's Visa card account by its next monthly charge/ billing date.
        </p>
      </div>
    </div>
  </div>
</div>