</div>
</main>
<footer>
  <div class="footer-row">
    <div class="footer-col">
      <div class="logo">
        <img src="../../assets/images/Logo.png" alt="">
      </div>
      <p class="footer-text">
        Our mission is to promote the financial wellbeing of people worldwide through quality education and meaningful
        connections.
        <br>
        The material on this website is for general educational purposes only, The Profit Masters Academy
        aims to provide solutions for inventors of every kind by matching the them with the right brokerage.
        <br> 
        When trading, you must always take into consideration your level of experience and seek independent financial advice
        if necessary.
      </p>
      <div class="socials"></div>
    </div>
    <div class="footer-col">
      <div class="footer-menu-wrapper">
        <div class="footer-menu-col">
          <p class="footer-menu_title">Investing Basics</p>
          <p class="footer-menu_item"><a href="/investing-basics/how-to-invest.html">Getting Started With Investing</a></p>
          <p class="footer-menu_item"><a href="/investing-basics/best-online-stock-brokers.html">Best Stock Brokers for Beginners</a></p>
          <p class="footer-menu_item"><a href="">Best cryptocurrency apps</a></p>
        </div>
        <div class="footer-menu-col">
          <p class="footer-menu_title">Investing Basics</p>
          <p class="footer-menu_item"><a href="">Getting Started With Investing</a></p>
          <p class="footer-menu_item"><a href="">Best Stock Brokers for Beginners</a></p>
          <p class="footer-menu_item"><a href="">Best cryptocurrency apps</a></p>
        </div>
        <div class="footer-menu-col">
          <p class="footer-menu_title">Investing Basics</p>
          <p class="footer-menu_item"><a href="">Getting Started With Investing</a></p>
          <p class="footer-menu_item"><a href="">Best Stock Brokers for Beginners</a></p>
          <p class="footer-menu_item"><a href="">Best cryptocurrency apps</a></p>
        </div>
        <div class="footer-menu-col">
          <p class="footer-menu_title">Investing Basics</p>
          <p class="footer-menu_item"><a href="">Getting Started With Investing</a></p>
          <p class="footer-menu_item"><a href="">Best Stock Brokers for Beginners</a></p>
          <p class="footer-menu_item"><a href="">Best cryptocurrency apps</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="../assets/libs/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/libs/slick/slick.min.js"></script>
<script src="../assets/js/main.js"></script>
</body>

</html>