    <div class="leaders-wrapper">
      <div class="leader-item">
        <img src="/assets/images/leaders/leader1.svg" alt="">
      </div>
      <div class="leader-item">
        <img src="/assets/images/leaders/leader2.svg" alt="">
      </div>
      <div class="leader-item">
        <img src="/assets/images/leaders/leader3.svg" alt="">
      </div>
      <div class="leader-item custom-padding">
        <img src="/assets/images/leaders/leader4.jpg" alt="">
      </div>
      <div class="leader-item">
        <img src="/assets/images/leaders/leader5.svg" alt="">
      </div>
      <div class="leader-item">
        <img src="/assets/images/leaders/leader6.svg" alt="">
      </div>
      <div class="leader-item">
        <img src="/assets/images/leaders/leader7.svg" alt="">
      </div>
      {{!-- <div class="leader-item">
        <img src="/assets/images/leaders/leader8.jpg" alt="">
      </div> --}}
       <div class="leader-item custom-padding">
        <img src="/assets/images/leaders/leader9.jpg" alt="">
      </div>
       <div class="leader-item">
        <img src="/assets/images/leaders/leader10.jpg" alt="">
      </div>
       <div class="leader-item custom-padding">
        <img src="/assets/images/leaders/leader11.jpg" alt="">
      </div>
       <div class="leader-item custom-padding">
        <img src="/assets/images/leaders/leader12.jpg" alt="">
      </div>
       {{!-- <div class="leader-item">
        <img src="/assets/images/leaders/leader13.jpg" alt="">
      </div> --}}
       <div class="leader-item">
        <img src="/assets/images/leaders/leader14.jpg" alt="">
      </div>
       <div class="leader-item">
        <img src="/assets/images/leaders/leader15.jpg" alt="">
      </div>
       <div class="leader-item">
        <img src="/assets/images/leaders/leader16.jpg" alt="">
      </div>
       <div class="leader-item custom-padding">
        <img src="/assets/images/leaders/leader17.svg" alt="">
      </div>
      <div class="leader-item custom-padding">
        <img src="/assets/images/leaders/leader18.svg" alt="">
      </div>
    </div>