<div class="news-carousel">
  {{#each news}}
  <div>
    <a href="{{ href }}">
      <img src="{{ imagePath }}" alt="" />
    </a>
    <a href="{{ href }}">
      <p>{{title}}</p>
    </a>
  </div>
  {{/each}}
</div>