<div class="companies-wrapper">
    <div class="company-block">
        <div class="company-block-logo">
            <img src="../../assets/images/company-sofi.png" alt="">
            <img class="company-stars" src="../../assets/images/stars.png" alt="">
            <p>4.5 stars</p>
        </div>
        <div class="company-block-text">
            <p>SoFi has built a robust and valuable ecosystem to help manage your money in one place. SoFi
                Active Investing enhances that ecosystem with $0 stock commissions, crypto trading, and low
                account minimums.</p>
        </div>
    </div>
    <div class="company-block">
        <div class="company-block-logo">
            <img src="../../assets/images/company-robin.png" alt="">
            <img class="company-stars" src="../../assets/images/stars.png" alt="">
            <p>4.5 stars</p>
        </div>
        <div class="company-block-text">
            <p>With no fees, access to trade fractional shares and cryptocurrency, among many other investment types,
                Robinhood's high-quality app trading platform is best suited for beginner investors wanting a solid
                place to invest on the go.</p>
        </div>
    </div>
    <div class="company-block">
        <div class="company-block-logo">
            <img src="../../assets/images/company-fidelity.png" alt="">
            <img class="company-stars" src="../../assets/images/stars.png" alt="">
            <p>4.5 stars</p>
        </div>
        <div class="company-block-text">
            <p>Fidelity is one of the largest and one of the most well-rounded brokerages available in the U.S. today.
                Importantly, Fidelity offers $0 commissions for online stock and ETF trades, plus a high-quality mobile
                app that's good for both beginners and seasoned investors.</p>
        </div>
    </div>
</div>