{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            Best Stocks To Invest In: <span>April 2023</span>
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h4 class="internal-page-h4">Here are 10 stocks that could be excellent additions to your portfolio for the
                rest of 2023 and for years to come.</h4>
            <p class="text-wrapper-part">
                There are literally thousands of publicly traded companies you can invest in, not to mention the many
                exchange-traded funds (ETFs) and mutual funds you can buy, so it's not surprising many investors don't
                know where to begin. And with the recent market downturn, especially when it comes to growth stocks,
                there are plenty of stocks trading for significantly less than six months or a year ago.
            </p>
            <p>
                But what are the best stocks to buy in 2023? Although I don't have a crystal ball that tells me what
                stocks will deliver the best returns, I've tried to do the next best thing. In this article, I'll
                discuss 10 stocks that I think could be great buys in 2023 for long-term investors looking to put their
                money to work.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="img-wrapper">
            <img src="/assets/images/stocks.png" alt="">
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>
                Before we get to the stocks, let's acknowledge three caveats:
            </p>
            <ul class="internal-page-ul">
                <li class="text-wrapper-part">
                    Choosing the best stocks to buy today heavily depends on your personal financial situation. To get a feel for where you stand, read our guide on how to invest in stocks. It walks you through topics such as establishing an emergency fund, allocating assets, and when it makes sense to buy stocks.
                </li>
                <li class="text-wrapper-part">
                    We like these stocks as long-term investments. I have absolutely no idea what they'll do over the next few weeks or months. In fact, if inflation stays elevated longer than expected, interest rates continue to rise, the uncertainty facing the banking system in 2023 persists, or the U.S. falls into a deep recession, it's entirely possible that most or all of these could decline in the near term.
                </li>
                <li class="text-wrapper-part">
                    Although we ensured some variety, the list below isn't meant to be a fully diversified portfolio. Instead, they're my highest-conviction long-term stocks to invest in for 2023 and beyond. The best one-step way to diversify your holdings is to build the core of your portfolio around something like the Vanguard Total World Stock Index Fund ETF.
                </li>
            </ul>
        </div>
        <div class="text-wrapper text-wrapper-part">
            <p>
                Let's get to my list of the 10 best stocks to buy now and hold for the long term, from smallest market
                cap to largest, followed by the summary buy thesis for each one.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2">
                The 10 Best Stocks to Buy in April 2023
            </h2>
            <ol class="internal-page-ul space-list num-list">
                <li class="text-wrapper-part">
                    <strong>Etsy</strong> (ETSY <span class="internal-page-span">0.54%</span>), $12 billion
                </li>
                <li>
                    <strong>Pinterest</strong> (PINS <span class="internal-page-span-part">-15.66%</span>), $18 billion
                </li>
                <li>
                    <strong>Block</strong> (SQ <span class="internal-page-span">0.35%</span>), $36 billion
                </li>
                <li>
                    <strong>Realty Income</strong> (O <span class="internal-page-span">1.3%</span>), $41 billion
                </li>
                <li>
                    <strong>Shopify</strong> (SHOP <span class="internal-page-span">1.81%</span>), $59 billion
                </li>
                <li>
                    <strong>MercadoLibre</strong> (MELI <span class="internal-page-span">2.62%</span>), $63 billion
                </li>
                <li>
                    <strong>Intuitive Surgical</strong> (ISRG <span class="internal-page-span">1.79%</span>), $103
                    billion
                </li>
                <li>
                    <strong>Walt Disney</strong> (DIS <span class="internal-page-span">2.57%</span>), $176 billion
                </li>
                <li>
                    <strong>Berkshire Hathaway</strong> (BRK.A <span class="internal-page-span">0.64%</span>)(BRK.B
                    0.71%), $715 billion
                </li>
                <li>
                    <strong>Amazon</strong> (AMZN <span class="internal-page-span-part">-3.98%</span>), $1.08 trillion
                </li>
                <li>
                    (Market caps as of April 28, 2023, rounded to the nearest billion.)
                </li>
            </ol>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2">
                Elevator pitches for each stock
            </h2>
            <h3 class="internal-page-h3 internal-page-h3-50px">
                1. Etsy
            </h3>
            <p>
                Before the COVID-19 pandemic, Etsy was growing nicely by connecting craft makers with customers looking
                for something a bit more out of the ordinary than mainstream e-commerce fare. During the pandemic,
                e-commerce got a huge boost. But Etsy absolutely skyrocketed, growing at more than twice the rate of
                overall e-commerce.
            </p>
            <p>
                It certainly helped that Etsy was a natural fit when people wanted unique face masks, but its growth has
                been impressive across all product categories and continues. In the fourth quarter of 2022, Etsy's
                marketplace sales volume was up 144% over comparable pre-pandemic levels.
            </p>
            <p>
                As you may notice throughout this list, powerful platforms get my attention. Make no mistake: Etsy is
                one of them. Few e-commerce companies go head-to-head with Amazon and survive. Etsy not only survived
                when Amazon rolled out its own handmade items platform; it won. But this could still be the early days
                of an excellent long-term growth story.
            </p>
            <p>
                Because of its platform and brand strength, Etsy's market opportunity is in the hundreds of billions of
                dollars, and with about $13 billion in sales on its platform in 2022, it has just started to scratch the
                surface. And with the stock falling significantly in the recent growth stock downturn, now could be a
                great time for patient long-term investors to take a closer look.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                2. Pinterest
            </h3>
            <p>
                Pinterest is an oasis of positivity in a social media landscape that's grown increasingly depressing and
                divisive. That partially flows from what Pinterest is about, which is ideas.
            </p>
            <p>
                People go to Pinterest to focus on things, not on other people. Whether it's building a dream deck,
                baking a kid's birthday cake, or updating your wardrobe, Pinterest gives people visual inspiration for
                the things they want to get done.
            </p>
            <p>
                Pinterest has been beaten down in the recent market decline, mainly because its user base contracted a
                bit as pandemic restrictions were lifted around the world, but recent results show growth has resumed.
                Plus, there's still lots of long-term user growth potential.
            </p>
            <p>
                The most exciting thing from a long-term investor's perspective is that Pinterest has a massive
                opportunity when it comes to monetization of its users, especially as the company pivots away from its
                traditional ad-focused model and tries to find ways to incorporate e-commerce into its platform.
            </p>
            <p>
                The pivot certainly makes sense. Pinterest is a place where people go to find things they might want to
                buy, and it recently hired e-commerce veteran Bill Ready as its CEO to help accelerate its pivot. It
                could take a while for the company to truly realize its e-commerce potential, but long-term investors
                could be handsomely rewarded.
            </p>
            <p>
                It's really easy to envision how seamless advertising, lead generation, and product placement could be
                when people are already there for suggestions. The monetization potential is especially massive
                internationally, which accounts for 80% of its user base but just a tiny fraction of its revenue.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                3. Block
            </h3>
            <p>
                Block, formerly known as Square, has evolved from a niche payment processing hardware company to a
                massive financial ecosystem for merchants and individuals. On the merchant side, Block processed about
                $186 billion in payment volume over the past four quarters, and it also offers a suite of adjacent
                services for businesses.
            </p>
            <p>
                On the individual side, Block has the Cash App, with 51 million monthly active users, as well as
                capabilities that include person-to-person money transfers, direct deposits and debit cards, the ability
                to buy and sell stocks and Bitcoin, and much more.
            </p>
            <p>
                Block also acquired music app Tidal as well as the Afterpay buy-now, pay-later platform, which is
                starting to be reflected in the company's results. As its ecosystem evolves, the business should only
                get stronger. The long-term trend towards cashless payment adoption still has a long way to go, and with
                many potential growth verticals it could pursue, Block earns a spot on my top 10 best stocks to buy now.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                4. Realty Income
            </h3>
            <p>
                There's a solid case to be made that when it comes to value, growth, and income, it's tough to find a
                more well-rounded stock for long-term investors than Realty Income.
            </p>
            <p>
                If you aren't familiar with it, Realty Income is a real estate investment trust, or REIT, and primarily
                invests in freestanding, single-tenant retail properties. Walgreens, Dollar General, and FedEx are just
                a few examples of the top tenants. Realty Income owns more than 11,700 properties in the U.S. and
                Europe, most of which are rather recession-resistant and less vulnerable to e-commerce disruption than
                many other retail businesses. Plus, Realty Income's triple-net lease structure helps create a steady,
                predictable income stream.
            </p>
            <p>
                The proof is in the performance. Since its 1994 NYSE listing, Realty Income has produced 14.6%
                annualized total returns, handily outperforming the S&P 500. It has paid more than 600 consecutive
                monthly dividends. The company has increased its payout a staggering 119 times since 1994.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                5. Shopify
            </h3>
            <p>
                Shopify operates a platform designed to allow businesses of all sizes to sell their products online,
                with a particular focus on empowering smaller businesses and growing with them by establishing long-term
                relationships. Shopify offers a subscription plan starting at $39 per month for businesses, and it also
                offers many adjacent services that help businesses operate smoothly, such as payment processing
                solutions and logistics.
            </p>
            <p>
                Shopify's "one-stop shop" approach to enabling e-commerce has turned it into a powerhouse. It now has
                more e-commerce sales flowing through its ecosystem than any other company besides Amazon. However,
                Shopify could be just getting started. The platform has generated $5.6 billion in revenue over the past
                four quarters, but this is just a fraction of its estimated $153 billion (and growing) market
                opportunity as more retailers shift their focus to online sales.
            </p>
            <p>
                E-commerce is still in the relatively early stages, making up less than 15% of retail sales in the
                United States. Shopify has the No. 2 share, giving it a powerful ecosystem with network effect
                advantages over competitors. With shares down sharply in the recent market downturn due to recession
                fears and signs of a slowdown in consumer spending, Shopify looks like a clear choice for the best
                stocks to buy in 2023.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                6. MercadoLibre
            </h3>
            <p>
                One of our favorite long-term stock investments in the market, MercadoLibre is often referred to as the
                Amazon of Latin America, and for good reason. The company operates an e-commerce marketplace that has a
                dominant presence in some of the most populous nations in the region, including Brazil and Argentina.
            </p>
            <p>
                However, there's a lot more to MercadoLibre. It operates a fast-growing payments platform called Mercado
                Pago, a logistics service known as Mercado Envios, a business lending platform, and more. The
                marketplace saw $9.6 billion in merchandise volume in the fourth quarter of 2022, and Mercado Pago
                processes more than $140 billion in annualized volume, with about two-thirds coming from outside the
                company's e-commerce platform. Both are growing rapidly. And don't overlook Mercado Credito, the
                company's young but fast-growing lending business. Mercado Credito has $2.8 billion of outstanding loan
                balances and has grown rapidly so far.
            </p>
            <p>
                The best part is that all of these businesses are in the relatively early stages. MercadoLibre's
                merchandise volume is roughly 6% of Amazon's, and its Mercado Pago payment volume is less than 10% of
                what PayPal processes. So, there's a ton of runway ahead.
            </p>
            <p>
                MercadoLibre isn't just the Amazon of Latin America -- it's the Amazon, PayPal, Square, Shopify, and
                more, all rolled into one, and it's at a much earlier stage of growth. As the e-commerce and fintech
                landscape in Latin America evolves over the coming years, MercadoLibre could be a major long-term
                beneficiary.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                7. Intuitive Surgical
            </h3>
            <p>
                Robot-assisted surgery beats the shaky hands of humans. That general thesis hasn't changed much from
                when I first noticed Intuitive Surgical stock in 2005. The da Vinci surgical system is the clear market
                leader, and the "razors and blades" model helps it generate a recurring stream of revenue as its systems
                are used to perform procedures.
            </p>
            <p>
                Intuitive Surgical is dominant in its space with a market share of about 80% worldwide, and it has lots
                of room to grow as its surgical systems increase in adoption and the number of its supported procedures
                increases over time. This is particularly true in many international markets, where the implementation
                of robot-assisted surgery could be a long-tailed growth catalyst for this excellent business for decades
                to come.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                8. Disney
            </h3>
            <p>
                The House of Mouse is the all-weather tires of a portfolio. The pandemic hurt its theme park and movie
                businesses but helped the Disney+ streaming service, which has grown into a powerhouse years earlier
                than Disney expected. In fact, Disney+ now has more than 160 million subscribers less than four years
                after launching, while the company's initial five-year goal called for 60 million to 90 million.
            </p>
            <p>
                In 2023, demand for Disney's theme parks and movies has started off stronger than ever, despite
                inflation pressures and recession fears. In fact, revenue is far greater than in comparable pre-pandemic
                times in Disney's parks due to initiatives that have driven higher per-guest spending. On the streaming
                side, Disney+ has been a massive success, and Disney is now laser-focused on the profitability of
                Disney+ and its other streaming platforms, Hulu and ESPN+.
            </p>
            <p>
                Disney might be the ultimate combination of an in-person experiential play and a tech-focused growth
                business. Its amazing stable of intellectual property (Marvel Cinematic Universe/Star
                Wars/ESPN/Pixar/Disney) and cash-machine theme park business gives it a margin of safety that makes it
                perhaps the safest stock on this list. And it still has tremendous profit growth potential as the newer
                areas of its business evolve.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                9. Berkshire Hathaway
            </h3>
            <p>
                While most of this list is made up of growth stocks, or at least stocks that have some exciting growth
                drivers, this is the relatively boring value pick of the bunch. But in the best possible way.
            </p>
            <p>
                Berkshire Hathaway owns a collection of about 60 subsidiary businesses, including household names such
                as GEICO, Duracell, and Dairy Queen, just to name a few. Berkshire also owns a portfolio of common
                stocks worth more than $320 billion that includes massive stakes in Apple, Bank of America, Chevron,
                American Express, and Coca-Cola, as well as positions in dozens of other companies, many of which were
                personally handpicked by legendary investor Warren Buffett, who at age 92 still manages the bulk of
                Berkshire's investments. In fact, If Berkshire were a mutual fund, it would be the largest actively
                managed mutual fund in the world.
            </p>
            <p>
                The Buffett bears will say he has lost his fastball, but Berkshire continues to produce market-beating
                returns in most years despite its massive size. And while Berkshire certainly won't produce the
                3,787,464% return (not a typo) it has produced since Buffett took the helm through the end of 2022,
                there's no reason to believe it won't continue to outpace the S&P 500 for the foreseeable future.
            </p>
            <p>
                Buffett won't be at the helm forever. But Berkshire is his legacy, and he's been stress-proofing it for
                years to make sure it's in solid shape long after he's no longer running things. Showing his faith, he
                and longtime business partner Charlie Munger have been buying back shares regularly. That's a good
                signal for patient long-term investors like us.
            </p>
        </div>
        <div class="text-wrapper">
            <h3 class="internal-page-h3 internal-page-h3-50px">
                10. Amazon
            </h3>
            <p>
                Amazon doesn't really need much of an elevator pitch for most people. The company has a dominant lead in
                the U.S. e-commerce market with about $500 billion in gross merchandise sales last year, and its Amazon
                Web Services cloud platform is also a market leader.
            </p>
            <p>
                However, more growth potential exists than you might think. We're a long way from maximizing e-commerce
                adoption; it still accounts for less than 15% of all U.S. retail sales. The cloud industry is relatively
                young as well and is expected to roughly quadruple in size to a $1.6 trillion market by 2030. Amazon
                also has a ton of potential in other areas such as healthcare, grocery stores, neighborhood markets, and
                more.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Final takeaways for using this stock list
            </h2>
            <p>
                If you're starting on your investing journey (or if you want a sanity check), please read through our
                how to invest in stocks guide. It goes through all the basics, from how to get started to how to
                determine your personal investing strategy, to how much of your money to invest in stocks.
            </p>
            <p>
                Although we bullish on each of these stocks and think they are good stocks to buy right now, they might
                not all be the best choices for investors who don't yet have established and diversified portfolios.
                Even the most stable companies on this list aren't immune to volatility in their stock prices,
                especially over short periods.
            </p>
            <p>
                For this reason, if you're just getting started, you'll also want to see our list of the 15 best stocks
                for beginners. To be sure, we think the 10 stocks discussed here are some of the best long-term stock
                investments you can buy now. But it's wise to start with the stocks that speak to you, and feel free to
                ignore the ones that don't.
            </p>
            <p>
                Good luck!
            </p>
        </div>
    </div>
</section>

<section class="investing-news top-margin">
    <div class="container">
        <h2 class="section-title">Featured <span>Investing News </span></h2>
        {{> newsCarousel }}
    </div>
</section>

{{> footer }}