{{> header }}

<section class="internal-main-section">
    <div class="container">
        <h1 class="internal-page-title">
            What is an <span>NFT?</span>
        </h1>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <p>
                Cryptocurrencies have been skyrocketing in recent years, but these digital assets have more to them than just rampant speculation. Blockchain -- the digital ledger technology that enables cryptos -- has actual, real-world use. Non-fungible tokens (NFTs) are one example. NFTs are tokens based on a blockchain that represent ownership of a digital asset. The recent craze in NFTs involves digital art and creation (for example, Twitter (NYSE:TWTR) CEO Jack Dorsey sold the first-ever published tweet for $2.9 million via an NFT).
            </p>
            <p>
                Sound silly? Perhaps. But there's more to the discussion around NFTs than meets the eye.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                What are non-fungible tokens (NFTs)?
            </h2>
            <p>
                Non-fungible tokens aren't actual cryptocurrencies in the same sense as Bitcoin (BTC). Cryptocurrencies utilize blockchain for its ability to track financial transactions between parties and were designed as a type of digital currency for use on the internet and in a digital-first world.
            </p>
            <p>
                NFTs are also built on a blockchain but instead are used to guarantee ownership of an asset. Think of it as a certificate such as an auto or real estate title stating the legal owner of a car or home, except that an NFT is proof of ownership in digital form. Most NFTs are based on the Ethereum (ETH) blockchain network.
            </p>
            <p>
                An NFT is a unique digital asset that is not directly replaceable with another digital asset (thus the name "non-fungible"). Many physical assets are also non-fungible. Real estate, for example, is non-fungible since each piece of property is unique from others.
            </p>
            <p>
                A "fungible" token, by contrast, is one that is replaceable with another one identical to it. Ether is the fungible token that trades on the Ethereum network, meaning one Ether is identical to another. The same goes for Bitcoin. One Bitcoin can be exchanged for another Bitcoin because they have the same value. Physical currencies work this way, too. One physical dollar bill is the same as another dollar bill, and thus each are "fungible." But each NFT is unique; there isn't another one exactly like it out there, so they are non-fungible -- or unable to exactly replace another.
            </p>
            <p>
                Code is written into this digital token and recorded using the blockchain network it's based on (again, usually on Ethereum) to prove a list of historical ownership and the current owner of a unique digital asset. An NFT can represent any digital creation -- art, music, videos, writing, etc.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                How many NFTs are there?
            </h2>
            <p>
                At the end of October 2021, there were nearly 7,000 different types of cryptocurrencies worldwide. Most NFTs are built on Ethereum, but many of these tokens utilize a different blockchain or were built on a proprietary NFT platform. As a result, there are innumerable individual NFTs representing works of art, videos, video game content, music, and more. As more artists and creators make use of NFTs to secure and monetize their work, this number will only increase over time.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                How do NFTs work?
            </h2>
            <p>
                How exactly are NFTs used? Digital art collections, for one. In March 2021, an NFT representing an image, "Everydays: The First 5,000 Days," by artist Beeple was auctioned by Christie's for $69 million. The purchaser of the NFT now has ownership of the digital art attached to it. Digital creators Larva Labs auctioned off individual CryptoPunks characters in 2017; some of the NFTs are now worth millions of dollars.
            </p>
            <p>
                These are some extreme examples of ballooning NFT values. For common functionality, though, artists can use NFTs to sell their creations to collectors and other digital creators. An owner or creator of an NFT can also collect royalties for the art's copy or use online. NFTs hold promise as a way to enforce digital copyright and trademark law.
            </p>
            <p>
                Real-world use cases abound, too. Nike owns a patent on NFTs to authenticate sneakers as unique items. But outside the realm of collectors' items (a form of modern fine art speculation), NFTs could have some practical, everyday value. Remember the aforementioned titling of physical assets such as cars or real estate? Blockchain-based tokens could be used to guarantee ownership of physical property and cut out expensive intermediaries who traditionally handle titling services and related legal documentation. It's still early days for NFTs, though, so more ideas could emerge in the years ahead.
            </p>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Top Stock Brokers for 2023
            </h2>
        </div>
    </div>
</section>

<section class="internal-section">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="internal-page-h2 internal-page-h2-40px">
                Why are non-fungible tokens important?
            </h2>
            <p>
                Besides representing a way for digital artists and other creators to monetize their work, NFTs are imagined as the evolution of art investing and collecting and as part of a new cryptocurrency investment asset class. Since an NFT is unique, there's always a slim chance an NFT collection could balloon in value (like Beeple's digital artwork). If you're an art collector, NFTs are easy to buy and sell on an online marketplace such as OpenSea. Cryptocurrency trading app Binance is launching an NFT marketplace, and Coinbase Global might do the same (it has invested in several NFT marketplaces, including Rarible).
            </p>
            <p>
                But, for the average investor, NFTs represent a highly speculative class of investment that should probably be avoided. NFTs don't gain in value because of their utility but are based on the value of the media they represent (digital art, video, music, etc.). Sticking a value on something like art is incredibly difficult and subjective and unlike valuing a share of stock, which represents an ownership stake in a business and a claim on future profits generated by the business.
            </p>
            <p>
                Investors who want some indirect exposure to NFTs anyway might consider adding a little Ether to their portfolio since most NFTs utilize the Ethereum network's blockchain. Ether is also a highly speculative investment, although it could increase in value if Ethereum network use rises over time. (It's important to note there is no cap on how many tokens of Ether can exist, but a recent change to the way transactions are validated from proof of work to proof of stake should decrease the supply of Ethereum over time.)
            </p>
            <p>
                Even so, non-fungible tokens could be an important technological development. In a new digital era that blurs the lines between the physical and virtual worlds, a new way to track digital asset ownership and distribution online will be increasingly important. These blockchain-based tokens could also disrupt financial intermediaries and lower the cost of buying and selling big-ticket items such as autos and real estate. That doesn't necessarily mean you should invest in highly speculative NFTs, but, at the very least, their development is worth keeping an eye on.
            </p>
        </div>
    </div>
</section>

{{> footer }}